.about_bg
	background-image:  url(../img/pattern1.png), url(../img/about.jpg)
	width 100%
	height 100vh
	background-size 2px, cover
	opacity 0.83
	background-attachment fixed, fixed
.about
	h3
		font-size 30px
		font-weight 400
		margin-bottom 0
		&:after
			margin 10px auto
	.li_pages
		margin-bottom 30px
	p
		line-height 1.4
		margin-bottom 20px
		color blt
		&>a
			color purp
			&:hover
				color main
	ul
		border 1px solid greyl
		margin-top 30px
		padding 12px
		margin-bottom 40px
	h5
		font-size 14px
		color blt
		margin-bottom 15px
	span
		font-style italic
		color greyt
	img
		max-height 400px
		max-width 330px
		width 100%
		height 100%
		margin-left 20px
		margin-bottom 50px
	h4
		text-align center
		font-weight 400
		font-size 20px
		color blt
		margin-bottom 20px
	iframe
		display block
		margin 0 auto
	h2
		font-weight 400
		color blt
		font-size 32px
		text-align center
		margin-top 60px
		margin-bottom 40px
	.link_youtube
		color purp
		margin-left 58%
		margin-bottom 50px
		&:hover
			color main
		
