.venvals
	max-width 920px
	max-height 334px
	width 100%
	height 100%
	object-fit cover
	margin 0 auto
	margin-top 40px
	margin-bottom 20px
.title_venvals
	font-size 28px
	position absolute
	left 24px
	top 36px
	color #fff
.about_dance_styles
	h3
		font-weight 400
		font-size 32px
		margin-bottom 0
		&:after
			margin-top 7px
	h5
		background-color: #E1E1E0
		font-size 14px
		font-weight 400
		padding 7px 0 7px 17px
		margin-bottom 20px
	p
		text-align:justify
	.appl
		width 95%
		background-color purp
		color #fff
		margin-bottom 20px
		border 1px solid transparent
		&:hover
			background-color: #FFF
			color purp
			border 1px solid purp
	.youtube
		background-color: #FFF
		color purp
		border 1px solid purp
		width 95%
		&:hover
			background-color purp
			color #fff

#production_order
	margin 0 auto
	max-width 405px
	max-height 510px
	width 100%
	height 100%
	border 10px solid #1D1D1F
	display block
	position relative
	.order_wrap
		border 10px solid #93278F
		background-color #1D1D1F
		padding 0 20px 20px
	.order_title
		color #fff
		font-size 26px
		font-weight 400
		&:after
			margin 17px auto
			height 4px
			background-color #93278F
			width 55px
	input
		background-color: #fff
		color blt
		padding 15px 0 15px 35px
		display block
		width 100%
		border none
		border-radius 4px
		margin-bottom 18px
		font-size 16px
	input[type="text"]
		background-image: url(../img/user.png)
		background-repeat no-repeat
		background-position: 12px 16px
	input[type="email"]
		background-image: url(../img/mail.png)
		background-repeat no-repeat
		background-position: 12px 16px
	input[type="tel"]
		background-image: url(../img/tel.png)
		background-repeat no-repeat
		background-position: 12px 16px
	.time
		color #fff
		background-image: url(../img/sunkl.png)
		background-repeat no-repeat
		padding-left 20px
		font-size 16px
		margin-bottom 18px
		display block
		background-position: 0 4px
	input::-webkit-input-placeholder
		color #111
		font-size 16x
	input::-moz-placeholder
		color #111
		font-size 16px
	input[type="submit"]
		background-color purp
		color #fff
		font-size 16px
		border-bottom 3px solid #923126
		margin 30px 0 20px
		&:hover
			background-color #6f036b
.production_order .mfp-close
	color #fff
	right 5px
	top 5px
	font-size 40px
	opacity 1
	&:hover
		color red