.address_bg
	background-image:  url(../img/pattern1.png), url(../img/address.jpg)
	width 100%
	height 100vh
	background-size 2px, cover
	opacity 0.83
	background-attachment fixed, fixed
.address
	h3
		font-weight 400
		font-size 34px
		text-align center
		background-color: #FFF
		color text
	img
		border 1px solid black
.address_map
	margin-top 30px
	width: 100%
	height: 600px
.studia_photo
	width 90px
	height 90px
	object-fit cover
	float left
	overflow hidden
	margin-right 15px
	
.address_title
	font-size 14px
	margin-bottom 20px
	margin-left 10px
	line-height 1.4
	text-indent 0
.address_address
	font-size 14px
	font-weight 400
	margin-left 14px
.addrr_label
	position absolute
.show_lines
	background-color: #FFF
	box-shadow 0 0 10px greyl
	padding 15px 20px
	font-size 14px
	font-weight 600
	color text-align
	border none
.show_addresses 
	border none
	font-size 18px
	color #7F054E
	padding 15px
	background-color transparent
	text-align center
	letter-spacing 1px
	width 100%
	text-decoration underline
.address_list
	box-shadow 0 0 10px greyl
	margin-top 30px
.address_info
	width 88%
	margin 0 auto
	span
		display block
		color blt
	a
		display block
		color #DD5E25
		margin-bottom 20px
		border-botom 1px solid #DD5E25
		&:hover
			color #F6170
			border-botom 1px solid #F6170
.tula_address_list
	margin-top 20px
	span
		border 1px solid greyl
		padding 7px 20px
		width 100%
		display block
		margin-bottom:  15px

.how_to_get_white
	width 1200px
	height 800px
	position relative
	background-color: #FFF
	display block
	margin 0 auto
	padding 30px
	h5
		font-size 16px
		text-align left
		margin-bottom 10px
	p
		font-size 16px
		text-align left
	img
		width 600px
		height 400px
		object-fit cover
		display block
		margin 20px auto 0
		
	span
		display block
		width 430px
		margin 20px auto 30px
.address_NN
	.address_nn>span
		width 100%
		padding 7px 4px
		text-align center
		display block
		border 1px solid greyl
		font-size 12px
	.address_list
		box-shadow none
		a
			padding 4px
			color purp
			border 1px solid purp
			margin 10px 0
			display block
			width 30%
			font-size 12px
			text-align center