.main_page_bg
	background-image:  url(../img/pattern1.png), url(../img/bg_ind.jpg)
	width 100%
	height 100vh
	background-size 2px, cover
	opacity 0.83
	background-attachment fixed, fixed
.main-top
	h2
		text-align center
		font 24px Ver
		font-weight 600
		color blt
		margin-bottom 15px
	p
		text-align center
		margin-bottom 20px
		font-size 15px
		line-height 1.3
#news_slide
	border 1px solid greyl
	padding 25px
	margin 25px auto 10px
	display block
	max-width 970px
	img
		margin-top 25px
		width 920px
		height 410px
		object-fit cover
	.owl-dots
		position absolute
		top 7px
		left 45%
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span
	background-color: greyt
span.group 
	display block
	position absolute
	top 125px
	left 128px
	color greyt
	font-size 10px
	text-transform uppercase
.slide_desc
	color #fff
	position relative
	top -400px
	span
		position absolute
		font-family Gen
.sl1
	span
		&:nth-child(1)
			font-size 25px
			top 105px
			left 620px
		&:nth-child(2)
			font-size 64px
			top 102px
			left 150px
			text-shadow 0 0 8px rgba(156, 113, 214, 0.5), 0 0 8px rgba(156, 113, 214, 0.5), 6px 6px 8px rgba(10, 7, 22, 0.5)
		&:nth-child(3)
			font-size 25px
			top 179px
			left 160px
			text-shadow 0 0 1px greyt
	.transp
		position absolute
		top 340px
		left 55px
.sl2
	span
		text-shadow 0 0 8px rgba(255, 255, 255, 0.5), 0 0 8px rgba(156, 113, 214, 0.5), 6px 6px 8px rgba(10, 7, 22, 0.5)
		font-weight 600
		&:nth-child(1)
			font-size 28px
			top 75px
			left 120px
		&:nth-child(2)
			font-size 64px
			top 92px
			left 120px
		&:nth-child(3)
			font-size 35px
			top 164px
			left 390px
	.transp
		position absolute
		top 340px
		left 55px
.sl3
		span
			text-shadow 0 0 10px rgba(255, 255, 255, 0.9), 0 0 8px rgba(156, 113, 214, 0.5), 6px 6px 8px rgba(10, 7, 22, 0.5)
			&:nth-child(1)
				text-shadow 0 0 7px rgba(252, 220, 191, 0.77), 0 0 7px rgba(252, 220, 191, 0.77), 6px 6px 8px rgba(0, 0, 0, 0.5)
				font-size 64px
				top 135px
				left 120px
			&:nth-child(2)
				font-size 18px
				top 220px
				left 670px
	.transp
		position absolute
		top 340px
		left 55px
	.b2
		left 650px
.sl4
	span
		&:nth-child(1)
			font-size 22px
			top 25px
			left 700px
		&:nth-child(2)
			font-size 24px
			top 92px
			left 440px
			text-shadow 0 0 8px rgba(193, 211, 225, 0.5), 0 0 8px rgba(193, 211, 225, 0.5), 6px 6px 8px rgba(40, 37, 56, 0.5)
		&:nth-child(3)
			font-size 60px
			top 104px
			left 90px
			text-shadow 0 0 8px rgba(193, 211, 225, 0.5), 0 0 8px rgba(193, 211, 225, 0.5), 6px 6px 8px rgba(40, 37, 56, 0.5)
	.transp
		position absolute
		top 340px
		left 55px
.grad
	display block
	padding 15px 30px
	color #fff
	font-size 14px
	background-image -webkit-linear-gradient(left, #80298F, #972599 100%)
	background-image -o-linear-gradient(left, #80298F, #972599 100%)
	background-image linear-gradient(to right, #80298F, #972599 100%)
	border none
	text-transform uppercase
	letter-spacing 1px
.dance_tit:after
	display none
	margin 50px 0 20px

strong
	font-weight 600
.light
	padding 20px 0
	p
		line-height 2
		font-size 16px
		text-align center
	a
		color purp
		&:hover
			color main
	.grad
		margin 60px auto 20px
		&:hover
			background-image none
			background-color main
#adv_list
	border 1px solid greyl
	padding 50px 50px 20px
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content space-between
	.advantage
		width 308px
		height 550px
		margin 10px 5px
		img
			height 240px
			width 336px
			object-fit cover
			margin-bottom 20px
		h5
			font-size 18px
			color purp
			font-weight 400
			text-align center
			padding 10px
		p
			font-size 12px
			padding 10px 20px
			line-height 1.8
		&:hover
			background-image -webkit-linear-gradient(left, rgba(0,0,0,0.75),rgba(0,0,0,1) 60%, rgba(0,0,0,1) 100%)
			background-image -o-linear-gradient(right, rgba(0,0,0,0.75),rgba(0,0,0,1) 60%, rgba(0,0,0,1) 100%)
			background-image  linear-gradient(to right, rgba(0,0,0,0.75),rgba(0,0,0,1) 60%, rgba(0,0,0,1) 100%)
			color #fff
			img
				opacity 0.4
.advantages
	h2
		position absolute
		top -20px
		left 360px
		background-color: #FFF
		z-index 5
		padding 5px 20px
.couple_photo
	position relative
	h3
		margin-top 50px
		font-family Gen
		font-size 34px
		letter-spacing 1px
		background-color: #fff
		z-index 10
		margin-bottom 25px
		&:after
			width 7%
			position absolute
			top -4px
			left 10%
		&:before
			width 7%
			position absolute
			top 26px
			left 83%
			content ""
			height 1px
			background-color greyl
			display block
	.purp
		display block
		margin 50px auto 0
	ul
		margin-top 20px
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		flex-direction row
		flex-wrap wrap
		justify-content space-between
		li
			margin-top 20px
			font-size 16px
.our_partners
	display block
	margin-top 30px
	color greyl
	.partners_logo
		margin 40px 0 30px
		.parnter_item
			width 200px
			height 50px
			a
				float none
				display block
				margin 0 auto
				&:hover
					border none
			img
				max-width 180px
				max-height 45px
				display block
				margin 0 auto
	.gr
		color greyl
	a
		float right
		overflow hidden
		line-height 1.2
		color greyl
		&:hover
			border-bottom 1px solid greyt
			color greyt
.statistic
	background-image:  url(../img/pattern1.png), url(../img/bg_ind.jpg)
	color #fff
	background-size 2px, cover
	background-position: 0 35%
	opacity 0.85
	padding 70px 0 100px
	h2
		color #fff
		padding 7px 28px
		border 2px solid #fff
		display block
		width 495px
		margin 0 auto 45px
		text-align center
		font-size 28px
		font-weight 600
	img
		display inline-block
		margin-left 20%
		vertical-align -8%
	span
		font 50px Ver
		display inline-block
		margin-left 20px
	p
		text-align center
		font-size 16px
.about_lessons
	h2
		font-weight 400
		font-size 34px
		color #393939
		text-align center
	p
		text-align center
		margin-bottom 45px
	.about
		max-width 300px
		padding 10px
		box-shadow 0 0 10px #DDDDDD
		img
			width 255px
			height 146px
			object-fit cover
			display block
			margin 14px auto
		h4
			color blt
			font-weight 600
			padding-left 12px
			font-size 16px
			margin-bottom 15px
		p
			text-align left
			padding-left 12px
			font-size 12px
			line-height 1.6
			height 74px
			a
				color purp
				&:hover
					color main
		.ic
			width 70px
			height 70px
.video_dance
	border 1px solid greyl
	padding 50px 0 60px
	margin-bottom 60px
	position relative
	overflow hidden
	iframe
		display inline-block
		min-height 190px
	h2
		font-weight 400
		color greyt
		margin-bottom 30px
		text-align center
	p
		margin-bottom 30px
		text-align center
		color greyt
	a
		position relative
		left 47%
		top 20px
		color greyt
		&:hover
			border-bottom 1px solid greyt
.dance_staging
	h3
		color purp
		font-size 50px
		font-weight 400
		&:after
			display none
.question
	background: url(../img/question_bg.jpg)
	background-repeat no-repeat
	padding 40px 0 100px
	background-size cover
	background-position: 0 40%
	vertical-align top
	color #fff
	margin-bottom 0
	&:before
		content ""
		position absolute
		width 100%
		height 100%
		background rgba(0,0,0,0.7)
		top 0
	h4
		font-size 20px
		color #fff
		font-weight 400
		text-align center
		margin-bottom 20px
	.quest
		label
			width 15%
			height 36px
			text-align center
			display inline-block
			background-color rgba(0,0,0,0.2)
			vertical-align top
			margin 20px 15px 20px 15px
			border 1px solid #fff
		input[type="text"]
			width 25%
			height 36px
			background-color rgba(0,0,0,0.2)
			padding-left 15px
			margin 20px 0
			color #fff
			border 1px solid #fff
			&:hover
				background: rgba(255,255,255,.1)
		textarea
			width 69%
			background-color rgba(0,0,0,0.2)
			margin-top 20px
			height 100px
			padding-left 15px
			padding-top 15px
			border 1px solid #fff
			&:hover
				background: rgba(255,255,255,.1)
	input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder
		font-style italic
		font-size 14px
		color #fff
	input[type="text"]::-moz-placeholder, textarea::-moz-placeholder
		font-style italic
		font-size 14px
		color #fff
	.b_white
		color blt
		background-color: #fff
		padding 10px 90px
		text-align center
		border none
		font-size 12px
		font-weight 600
		letter-spacing 1px
		display block
		margin 65px auto 25px
	span
		border 1px solid #fff
		padding 7px 15px
		margin-bottom 0
		margin-left 45%
		font-size 12px
		letter-spacing 1px
		