.loveis_1
	text-align left
	color text
	h3
		font-weight 400
		font-size 28px
		background-color: #FFF
		text-align center
	.li_pages
		margin-bottom 40px
		margin-left 38%
		a
			margin-right 5px
	p
		margin-bottom 20px
		margin-top 10px
	.links_stories
		margin-top 45px
		color purp
		li
			margin-bottom 15px
		a
			color purp
			&:hover
				color main