.music_bg
	background-image:  url(../img/pattern1.png), url(../img/bg_music.jpg)
	width 100%
	height: auto;
	height 100vh
	background-size 2px, cover
	opacity 0.83
.music
	position relative
	h3
		font-weight 400
		font-size 36px
		&:after
			width 100%
	.li_pages
		margin-bottom 30px
	p
		margin-bottom 20px
		line-height 1.4
		text-align justify
		color text
		z-index 10
		a
			color purp
			cursor pointer
			&:hover
				color main
	strong
		color blt
		font-style italic
		margin-bottom 25px
	h4
		font-size 24px
		font-weight 400
		color blt
		padding-left 30px
		margin-bottom 20px
		position relative
		background-color: #fff
		display block
		position: relative
		&:after
			display block
			position absolute
			width 104%
			height 325%
			left -10px
			border 1px solid greyl
			content ""
			top 20px
			z-index -1
.music_styles
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content space-between
	margin-top 40px
	.m_style
		color purp
		border 2px solid purp
		background-color: #fff
		padding 12px 20px
		width 310px 
		height 70px
		font-size 20px
		font-weight 600
		text-align center
		margin-bottom 20px
		&:hover
			background-image -webkit-linear-gradient(top, purp, main 100%)
			background-image -o-linear-gradient(top, purp, main 100%)
			background-image linear-gradient(to bottom, purp, main 100%)
			color #fff
			border 2px solid white
.img_divide
	background-image url(../img/bg_music2.jpg)
	height 360px
	width 100%
	padding-top 108px
	background-position: center top
	.on_img
		background-color: rgba(147,39,143,0.8)
		color rgba(255,255,255,0.9)
		width 80%
		padding 0 20px
		margin 50px auto
		display block
		text-align center
		font-size 32px
		letter-spacing 1px

.listen_music
	margin 50px 0
	border 1px solid greyl
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content center
	.record
		margin 50px
		span
			display block
			margin-bottom 12px
			color greyt
.music_listen
	.li_pages
		margin-left 42%