.vacancy_bg
	background-image:  url(../img/pattern1.png), url(../img/theam.jpg)
	width 100%
	height 100vh
	background-size 2px, cover
	opacity 0.83
	background-attachment fixed, fixed
.vacancy
	h3
		font-weight 400
		font-size 28px
		background-color: #FFF
		text-align center
	.li_pages
		margin-bottom 40px
		margin-left 42%
	.vac
		margin 40px 0
	h5
		font-size 14px
		color blt
		margin-bottom 15px
	.divide
		text-align left
