.wedding_d_a_bg
	background-image:  url(../img/pattern1.png), url(../img/WDA.jpg)
	width 100%
	height 100vh
	background-size 2px, cover
	opacity 0.83
	background-attachment fixed, fixed
.wedding_dance_award
	h3
		font-size 30px
		font-weight 400
		margin-bottom 0
		&:after
			margin 10px auto
	.li_pages
		margin-bottom 30px
		margin-left 40%
	p
		text-align center
		color blt
		line-height 1.3
		a
			color purp
			&:hover
				color main
	.winners
		margin-top 40px
		a
			img
				width 45%
				margin-left 3.5%