extends ../layout/main

block title
	|Wedding Dance Award - свадебный танец года   Ежегодная премия студии Ты со мной
block bgbody
	.wedding_d_a_bg.site_head
		.site_title
			span -в ритме любви-
			h1 Студия свадебного танца
		a(href="#").scrollb
			img.scroll(src="static/img/mo.png", alt="alt")
block content
	section.wedding_dance_award_2015.white
		.container
			.row
				.col-md-12
					h3 Свадебный танец года
					.li_pages
						a(href="#")  Главная  
						a(href="#")  -   О студии  
						a(href="#")  -  Wedding Dance Award 
						span  - 2015
					p.center Дорогие друзья. #[br] Наша студия является автором и организатором всероссийского проекта "Wedding dance award" - свадебный танец года. Эта премия является ежегодной, где победителей выбирает зрители. Каждая пара сможет выложить свой танец на сайт #[a(href="http://www.wedding-battle.ru/") www.wedding-battle.ru] (если танец действительно уникален и интересен) и бороться за звание "свадебный танец года" и за ценные призы. Участие в конкурсе абсолютно бесплатное и не ограниченно регионом.
					p.strong Пресс-релиз: #[br] 11 октября 2015 года в московском музыкальном баре «Мумий-Тролль» состоялся финал  – первого всероссийского открытого конкурса свадебного танца для молодоженов и семейных пар.
					p Каждый желающий получил шанс рассказать свою историю любви, став участником онлайн-конкурса, организованного свадебным проектом «Ты со мной». Для этого необходимо было снять клип своего свадебного танца и загрузить видео на сайт проекта. Перед участниками не ставилось никаких ограничений в выборе стиля и формата танца. Cами же участники не должны были быть профессиональными танцорами – ведь главное в этом конкурсе не филигранность исполнения, а эмоциональность и оригинальность танца!
					p В первый день осени стартовало зрительское голосование, которое продлится до 11 октября. Зрительские симпатии, выраженные количеством присланных смс, и определят шестёрку пар-победителей, которые дойдут до финала. Каждому достанутся спонсорские призы, а самая артистичная и трогательная пара отправится отдыхать на Ямайку.
					p Программа финала:
					ul
						li Насыщенная шоу-программа, включающая в себя старые добрые рок-н-рольные хиты от команды Honky Tonk Trio, выступление «Тенора 21 века» Александра Захарова, барабанное шоу от Night Beat Show, а также звуки одного из самых необычных музыкальных инструментов – трубофона. Специальный гость мероприятия – рок-группа Dengue Fever(США/Камбоджи), экзотическое творчество которой объединяет магию африканских ритмов и камбоджийский психоделический рок.
						li Отличный живой звук и атмосфера бара «Мумий-Тролль». Этот известный музыкальный бар находится как в центре Москвы, так и в центре столичной музыкальной жизни. Ежедневно здесь звучит живая музыка, проводятся концерты и всевозможные музыкальные события. И да, бар имеет непосредственное отношение к известной группе, так как заведение создавалось при её участии.
						li Танцы, ведь финал танцевального конкурса просто не может обойтись без этого пункта! Вы сможете не только продемонстрировать свои умения на танцполе, но и научиться одному из самых зажигательных танцев, приняв участие в мастер-классе.
						li Знаменитый дуэт ведущих. Это Орнелла Шигапова (профессиональная актриса, певица, телеведущая и не просто красавица, а победительница международного конкурса красоты «Miss Beauty Russia 2015») и Стас Зубков – шоумен, актер, радио- и телеведущий, знакомый зрителям по передаче «Смех без правил».
						li Интересные конкурсы и розыгрыш призов.
						li К  услугам меню бара, которое включает в себя блюда дальневосточной кухни и такие алкогольные изыски, как китайское пиво или японский виски. Для гостей мероприятия действует специальное предложение: эксклюзивный dance-коктейль, который вы можете получить, приобретя билет-коктейль. Сделать это можно на сайте проекта: http://www.wedding-battle.ru/show/
						p Адрес: Москва, ул.Тверская, 7
						p Время: 11 октября 2015, 19:00 (сбор гостей в 18:00)
						span.download Скачать полный фото архив можно #[a(href="https://yadi.sk/d/6--fRHxsjjCLB") здесь]
						a.purp_but.popup_youtube(href="#popup_youtube") Видео отчет
						#popup_youtube.mfp-hide
							.wrap_video
								iframe(width="560" height="315" src="https://www.youtube.com/embed/RRslfQen6YI" frameborder="0" allowfullscreen)
						a.purp_but.link_photo_report(href="#photo_report") Фото отчет
						#photo_report.mfp-hide
							img(src="static/img/photor1.jpg", alt="alt")
							img(src="static/img/photor2.jpg", alt="alt")
							img(src="static/img/photor3.jpg", alt="alt")
							img(src="static/img/photor4.jpg", alt="alt")
							img(src="static/img/photor5.jpg", alt="alt")
							img(src="static/img/photor6.jpg", alt="alt")
						h2 Победители премии 2015
						iframe(width="560" height="315" src="https://www.youtube.com/embed/QcfkQvcxGP8" frameborder="0" allowfullscreen)


