extends ../layout/main

block title
	|Wedding Dance Award - свадебный танец года   Ежегодная премия студии Ты со мной
block bgbody
	.wedding_d_a_bg.site_head
		.site_title
			span -в ритме любви-
			h1 Студия свадебного танца
		a(href="#").scrollb
			img.scroll(src="static/img/mo.png", alt="alt")
block content
	section.wedding_dance_award_2016.white
		.container
			.row
				.col-md-12
					h3 Свадебный танец года
					.li_pages
						a(href="#")  Главная  
						a(href="#")  -   О студии  
						a(href="#")  -  Wedding Dance Award 
						span  - 2016
					p.center Дорогие друзья. #[br] Наша студия является автором и организатором всероссийского проекта "Wedding dance award" - свадебный танец года. Эта премия является ежегодной, где победителей выбирает зрители. Каждая пара сможет выложить свой танец на сайт #[a(href="http://www.wedding-battle.ru/") www.wedding-battle.ru] (если танец действительно уникален и интересен) и бороться за звание "свадебный танец года" и за ценные призы. Участие в конкурсе абсолютно бесплатное и не ограниченно регионом.
					h4 Победители в номинации: #[span Свдебный танец года]
					iframe(width="560" height="315" src="https://www.youtube.com/embed/4Q2TfUSbwZI" frameborder="0" allowfullscreen)
					h4 Победители в номинации: #[span Лучший оригинальный танец]
					iframe(width="560" height="315" src="https://www.youtube.com/embed/4Q2TfUSbwZI" frameborder="0" allowfullscreen)
					h4 Победители в номинации: #[span Лучший классический танец]
					iframe(width="560" height="315" src="https://www.youtube.com/embed/4Q2TfUSbwZI" frameborder="0" allowfullscreen)
					h4 Победители в номинации: #[span Лучший шоу танец]
					iframe(width="560" height="315" src="https://www.youtube.com/embed/4Q2TfUSbwZI" frameborder="0" allowfullscreen)
					h4 Победители в номинации: #[span Лучший танец ремейк]
					iframe(width="560" height="315" src="https://www.youtube.com/embed/4Q2TfUSbwZI" frameborder="0" allowfullscreen)
					h4 Победители в номинации: #[span Лучший танец от профессионалов]
					iframe(width="560" height="315" src="https://www.youtube.com/embed/4Q2TfUSbwZI" frameborder="0" allowfullscreen)
