extends ../layout/main

block title
	|О студии свадебного танца Ты со мной   Коротко о нас   Москва
block bgbody
	.about_bg.site_head
		.site_title
			span -в ритме любви-
			h1 Студия свадебного танца
		a(href="#").scrollb
			img.scroll(src="static/img/mo.png", alt="alt")
block content
	section.about.white
		.container
			.row
				.col-md-12
					h3 Школа - студия свадебного танца "Ты со мной"
					.li_pages
						a(href="#") Главная 
						span  - О студии
					p Студия свадебного танца "Ты со мной" была основана в 2009 году с главной целью: создавать красивые, уникальные композиции для Вас. Помочь раскрыть Вашу неповторимую, чувственную или страстную историю — историю Вашей любви. Наша школа свадебного танца успешно работает не только в  #[a(href="#") Москве], но так же в #[a(href="#") Туле], #[a(href="#") Нижнем Новгороде], #[a(href="#") Санкт-Петербурге] и в #[a(href="#") Казани] , создавая лучший свадебный танец для каждой пары. Специалисты свадебной индустрии и сами молодожены по достоинству оценивают наши уроки свадебного танца! И мы расскажем вам, почему:
					ul
						li - Удобное время и место.  Перед свадьбой у молодоженов и так много хлопот, поэтому мы подберем вам наилучший график и место занятий в Москве.
						li - Профессиональный подход. У нас работают только хореографы с многолетним стажем, специализация которых - постановка свадебных танцев
						li - Более 1000 молодоженов в России, доверили нам свой лучший свадебный танец!
						li - Интересные занятия. Наши уроки свадебного танца просты и понятны
						li - Бесплатная обработка мелодий: их нарезка, компоновка, выбор спецэффектов и многое другое.
						li - Специализация узкая, а выбор танцев широкий. Мы занимаемся  исключительно постановкой свадебных танцев, а вот вариантов их - масса!
					.col-md-8.col-sm-8.col-xs-12
						h5 Резюме:
						p #[span Наша цель:] Постановка безупречного первого свадебного танца для молодоженов.
						p #[span Для кого наша студия:] Наша студия предназначена специально для влюбленных, молодоженов, семейных пар, желающим научится танцевать парные танцы, поставить свой первый танец на свадьбу или подготовить лучший танец на годовщину свадьбы.
						p #[span Направления свадебных танцев:] Медленный вальс, венский вальс, танго, фокстрот, быстрый фокстрот, латиноамериканские танцы, самба, сальса, ча ча ча, румба, хастл, бачата, свинг, линди хоп, свинг, джайв, меренга, зук, кизомба, хореография, шоу танцы.
						p #[span Кто преподает в нашей студии:] У нас работают только профессиональные педагоги, имеющие огромный опыт в работе с парами( как с начинающими, так и с высоким уровнем танцевания), имеющие высокую танцевальную квалификацию.
					.col-md-4.col-sm-4.col-xs-12
						img(src="static/img/studia.jpg", alt="alt")
		.container
			.row
				.col-md-12
					h4 Небольшое видео о студии
					iframe(width="560" height="315" src="https://www.youtube.com/embed/M75IgGUheB0" frameborder="0" allowfullscreen)
					a.link_youtube(href="https://www.youtube.com/user/tisomnoy") Перейти на канал Youtube
					h2 Почему именно мы? Потому что Вы достойны лучшего!





