extends ../layout/main

block title
	|Краткое описание танцев :: Студия свадебного танца Ты со мной
block bgbody
	.video_bg.site_head
		.site_title
			span -в ритме любви-
			h1 Студия свадебного танца
		a(href="#").scrollb
			img.scroll(src="static/img/mo.png", alt="alt")
block content
	section.about_dance_styles.white
		.container
			.row
				.col-md-12
					h3 Краткое описание парных танцев
					.li_pages
						a(href="#") Главная  
						a(href="#")  -  Видео
						span  -  Описание танцев
					.col-md-10.col-md-offset-1.col-lg-offset-1
						span.title_venvals Венский вальс
						img.venvals(src="static/img/venvals.jpg", alt="alt")
						h5 Описание танца
						.row
							.col-md-8.col-sm-8.col-xs-12
								p Венский вальс – это танец, без которого не проходит ни один бал, ни один вечер. Элегантный и очаровательный, он мысленно переносит нас в прекрасный бальный зал, залитый светом, где пары плавно и легко скользят по паркету. На самом деле, венский вальс родился из народного австрийского танца «Лендер» в конце 18 века. Для этого танца характерны круговые вращения партнеров. В первые годы 19 века вокруг вальса разгорелись споры – прилично ли мужчине обнимать правой рукой даму за талию. Конец спорам положил российский император Александр I. Он самолично исполнил тур вальса на одном из балов. Невероятную популярность получил венский вальс благодаря музыке знаменитого композитора Штрауса. В 19 веке вальс достиг пика популярности. Все еще мечтаете побывать на балу - тогда венский вальс то, что Вам нужно.
							.col-md-4.col-sm-4.col-xs-12
								a.button.appl(href="#production_order") Заказать постановку
								a.button.youtube Перейти на наш канал Youtube
		#production_order.mfp-hide
			.order_wrap
				h3.order_title Заказать постановку свадебного танца
				span.time Ответ в течении 15 минут
				input(type="text" placeholder="Введите имя")
				input(type="email" placeholder="Введите электронную почту")
				input(type="tel" placeholder="Введите номер телефона")
				input.button(type="submit" value="Получить консультацию")
