extends ../layout/mainSPB

block title
	|Адреса танцевальных залов в Санкт-Петербурге   Залы для постановок свадебного танца в Москве
block bgbody
	.address_bg.site_head
		.site_title
			span -в ритме любви-
			h1 Студия свадебного танца
		a(href="#").scrollb
			img.scroll(src="static/img/mo.png", alt="alt")
block content
	section.address.white
		.container
			.row
				.col-md-12
					h3 Адреса танцевальных залов в Санкт-Петербурге
					.li_pages
						a(href="#") Главная  
						a(href="#")  -  О студии  
						span - Адреса залов
					p Адреса на сайте для постановки свадебного танца указаны не полностью, при заказе Вам могут быть предложены и другие адреса вблизи выбранной станции метро в Москве.
					p Помимо танцевальных залов, предлагаемых нами, Вы так же можете предложить любую площадку для занятий (ресторан, у себя дома, на работе) в пределах доступности от станции метро, либо удаленно от метро по личной договоренности с педагогом. Мы преподаем свадебный танец во всех районах города Москвы: САО, ЦАО, СЗАО, ЮАО, ЮЗАО, ВАО, ЗАО, ЮВАО,ЮАО
					.col-md-8
						#map_SPB.address_map
					.col-md-4
						.address_list
							button.show_lines Показать адреса залов в список по линиям метро
							.metro_lines.hide
								button.show_addresses.show_addresses1 Сокольническая линия
								.metro_line.line1.hide
									.address_info
										span м.Чистые пруды (танцевальный зал "АТ")
										span г.Москва, ул.Жуковского, д.8, стр.2
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Юго-западная (танцевальный зал "Balance club")
										span г.Москва, проспект Вернадского,95, корп.4
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Кропоткинская (танцевальный зал "Mambo City")
										span г. Москва, ул. Остоженка, 14/2
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Красносельская (танцевальный зал "Trinity Dance")
										span г. Москва, ул. Верхняя красносельская, д. 34
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Университет (танцевальный зал "Импульс спорт")
										span г. Москва, ул. Молодежная д.4
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Проспект Вернадского (на базе Maximum)
										span г.Москва , пр-т Вернадского, д. 29, 5 этаж, помещение 503
										a(href="#") Посмотреть в Яндекс картах
								button.show_addresses.show_addresses2 Замоскворецкая линия
								.metro_line.line2.hide
									.address_info
										span Автозаводская (Танцевальный зал "DMS")
										span г. Москва, ул.Мастеркова, д.4
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span Автозаводская (танцевальный зал "Imperia Dance")
										span г. Москва, ул.Трофимова, 1/17
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span Аэропорт (Танцевальный зал "firstdancecenter")
										span г. Москва, Б.Коптевский проезд, д.3, с.2
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span Белорусская (танцевальный зал "5life")
										span г. Москва, Ленинградский проспект, 12
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span Белорусская (танцевальный зал "CosmoDance")
										span г. Москва, ул. 2-ой Лесной пер., д. 10
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span Коломенская (танцевальный зал "Timefitness")
										span г. Москва, проспект Андропова, дом 37
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span Коломенская (танцевальный зал "Pradna")
										span г. Москва, ул. Судостроительная д. 41
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span Новокузнецкая (танцевальный зал "Gold & Dance")
										span г. Москва,Малая Ордынка 25
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span Павелецкая (Танцевальный зал "Hendrix")
										span г.Москва ул. Летниковская 4, 1
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span Домодедовская (Фитнес на Елецкой)
										span г. Москва, ул Елецкая д.11 кор 2
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span Динамо ( на базе ЦСКА)
										span Ленинградский проспект, д. 39, строение 1
										a(href="#") Посмотреть в Яндекс картах
								button.show_addresses.show_addresses3 Арбато-покровская линия
								.metro_line.line3.hide
									.address_info
										span м.Арбатская (танцевальный зал "Лето")
										span г. Москва, Калашный пер., д.4
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Бауманская (танцевальный зал "Maximum dance")
										span г. Москва, ул. Бауманская, д. 11
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Партизанская (центр Красоты и Здоровья)
										span г. Москва, Зверинецкая 31/2
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Курская (танцевальный зал "dance options")
										span г. Москва, 4-й Сыромятнический пер. 1 стр. 6
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Семеновская (танцевальный зал "Театр танца")
										span г. Москва, Семеновская площадь, дом 7, корпус 10
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Электрозаводская (танцевальный зал "a Loft of Dance")
										span г. Москва, ул.Электрозаводская, д.21
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Фили (Фитнес клуб "Адреналин")
										span г. Москва, Филевский бульвар д.10
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Кунцевская (танцевальный зал "dance factory")
										span г. Москва ул. Ивана Франко д.14
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Митино (на базе школы спортивных единоборств)
										span г. Москва, ул. Барышиха, д.14, корп. 3
										a(href="#") Посмотреть в Яндекс картах
								button.show_addresses.show_addresses4 Арбато-покровская линияКольцевая линия
								.metro_line.line4.hide
									.address_info
										span м.Белорусская (танцевальный зал "5life")
										span г. Москва, Ленинградский проспект, 12
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Белорусская (танцевальный зал "CosmoDance")
										span г. Москва, ул. 2-ой Лесной пер., д. 1
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Краснопресненская/1905 года (танцевальный зал "OpenDance")
										span г. Москва, ул. Малая Грузинская, д.2
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Курская (танцевальный зал "dance options")
										span г. Москва, 4-й Сыромятнический пер. 1 стр. 
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Проспект Мира (танцевальный зал "Dance First")
										span г. Москва, Проспект Мира, 29-3
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Парк культуры (танцевальный зал при студии "danceparadise")
										span г. Москва, Фрунзенская набережная д.16 стр 1
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Таганская (салон красоты + фитнес студия "Vitalita")
										span г. Москва, ул. Гончарная д. 38
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Киевская (Танцевальный зал "Premium dance")
										span г. Москва ул. Брянская, д. 2
										a(href="#") Посмотреть в Яндекс картах
								button.show_addresses.show_addresses5 Калужско-Рижская линия
								.metro_line.line5.hide
									.address_info
										span м.Академическая (танцевальный зал "Импульс")
										span г. Москва, ул. Профсоюзная д.16/10
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Алексеевская (танцевальный зал "Walzer")
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Беляево (танцевальный зал "timefitness")
										span г. Москва, ул. Академика Арцимовича, 8
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Калужская (на базе танцевальной школы "Beatsoulstep")
										span г. Москва, Научный проезд д. 10
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Медведково (на базе фитнес-студии Energy)
										span г. Москва, ул. Таёжная д.1
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Проспект Мира (танцевальный зал "Dance First")
										span г. Москва, Проспект Мира, 29-31 
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Бабушкинская (танцевальный зал "Империя фитнес")
										span г. Москва, проспект Дежнева, дом 34
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Шаболовка (танцевальный зал "Hendrixstudio")
										span г. Москва, ул. Донская 24
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Калужская ( на базе клуба Ермак)
										span г. Москва, ул. Обручева, 23, корп. 3
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Китай-город (на базе Планетанго)
										span г.Москва Хохловский пер. д7
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Ленинский проспект (на базе Provacation)
										span г.Москва, 2-ой Донской проезд, д.10, стр.3
										a(href="#") Посмотреть в Яндекс картах
								button.show_addresses.show_addresses6 Таганско-Краснопресненская линия
								.metro_line.line6.hide
									.address_info
										span м.Краснопресненская/1905 года (танцевальный зал "OpenDance")
										span г. Москва, ул. Малая Грузинская, д.21
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Октябрьское поле (танцевальный зал "Убежище")
										span г. Москва,ул.Алабяна, д.8а
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Планерная (танцевальный зал "Vision")
										span г.Москва ул Свободы, д.79, 2 этаж
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Таганская (салон красоты + фитнес студия "Vitalita")
										span г. Москва, ул. Гончарная д. 38
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Кузьминки (танцевальный зал "Trinity Dance")
										span г. Москва,Волгоградский прос-т д. 135 стр 3
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Волгоградский проспект (на базе проекта Exzazal)
										span г. Москва ул.Новоостаповская 5, стр 2
										a(href="#") Посмотреть в Яндекс картах
								button.show_addresses.show_addresses7 Серпуховско-Тимирязевская линия
								.metro_line.line7.hide
									.address_info
										span м.Бульвар Дм. Донского (танцевальный зал "Знаменский")
										span г. Москва, ул. Знаменские Садки, д.1Б
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Дмитровская (танцевальный зал "DeLuxe")
										span г. Москва, ул. Новодмитровская д.5а, стр.2 (4 этаж)
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Менделеевская (танцевальный зал "Zebra step")
										span г. Москва, ул. Краснопролетарская, д.16
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Савеловская (танцевальный зал "Hendrixstudio")
										span г. Москва, Бумажный проезд д.19
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Тимирязевская (танцевальный зал "Apple street STUDIO")
										span г. Москва, ул. Яблочкова, д.21 кор 3
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Чеховская (танцевальный зал "Viva la Dance")
										span г. Москва, ул. Большая Дмитровка, д.22 стр.2
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Южная (танцевальный зал "Titanium fitnes")
										span г. Москва, ул. Днепропетровская 4а , 2 этаж Супермаркет "7 Континент"
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Отрадное (танцевальный зал "Ritmix dance")
										span г. Москва, ул. Хачатуряна д. 20
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Каховская (танцевальный зал Синди)
										span г.Москва ул. Азовская, д. 18
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Алтуфьево (на базе Majestick)
										span г.Москва, Алтуфьевское шоссе, дом 102Б
										a(href="#") Посмотреть в Яндекс картах
								button.show_addresses.show_addresses8 Люблинская линия
								.metro_line.line8.hide
									.address_info
										span м.Братиславская (танцевальный зал "Перспектива")
										span г. Москва, ул. Люблинская, 141
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Марьино (танцевальный зал "Fitenergy")
										span г.Москва, ул. Новочеркасский бульвар, д.57, к.2
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Кожуховская (танцевальный зал при студии "Gallos")
										span г. Москва, ул. Угрешская д.2 стр. 7
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Кожуховская (танцевальный зал "Hendrix")
										span г.Москва ул Южнопортовая д.9 стр 8
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Зябликово (Фитнес на Елецкой)
										span г. Москва, ул Елецкая д.11 кор 2
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Дубровка (на базе школы TrixFamily)
										span г. Москва, ул. Шарикоподшипниковская, д.22
										a(href="#") Посмотреть в Яндекс картах
								button.show_addresses.show_addresses9 Калининская линия
								.metro_line.line9.hide
									.address_info
										span м.Новогиреево (танцевальный зал "ПАЛЛАДА")
										span г. Москва, ул. Сталеваров д. 14, корп. 1
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Перово (на базе astraland)
										span г.Москва, ул. З-й Проезд Перова Поля, д 8 cтр 5
										a(href="#") Посмотреть в Яндекс картах
								button.show_addresses.show_addresses10 Московская область
								.metro_line.line10.hide
									.address_info
										span м.Реутов (на базе школы Energy)
										span ул. Победы, д. 28
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Железнодорожный (на базе "Танцбург")
										span ул. Главная д. 2, стр. 1
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span м.Химки (на базе Dance Time)
										span Новокуркинское шоссе д.51
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span Москва, м. Марьина роща
										span ул. 1-я Ямская д.8
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span Москва, м.Выхино 
										span ул. Ферганская д.17
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span Москва, м.Улица Скобелевская
										span ЖК Бутово Парк д.23
										a(href="#") Посмотреть в Яндекс картах
									.address_info
										span Москва, м. Медведково
										span ул. Таежная д.1
										a(href="#") Посмотреть в Яндекс картах
	



