extends ../layout/mainNN

block title
	|Адреса танцевальных залов в Нижнем Новогороде   Залы для постановок свадебного танца в Москве
block bgbody
	.address_bg.site_head
		.site_title
			span -в ритме любви-
			h1 Студия свадебного танца
		a(href="#").scrollb
			img.scroll(src="static/img/mo.png", alt="alt")
block content
	section.address_NN.white
		.container
			.row
				.col-md-12
					h3 Адреса танцевальных залов в Нижнем Новгороде
					.li_pages
						a(href="#") Главная  
						a(href="#")  -  О студии  
						span - Адреса залов
					p Адреса на сайте для постановки свадебного танца указаны не полностью, при заказе Вам могут быть предложены и другие адреса вблизи выбранной станции метро в Москве.
					p Помимо танцевальных залов, предлагаемых нами, Вы так же можете предложить любую площадку для занятий (ресторан, у себя дома, на работе) в пределах доступности от станции метро, либо удаленно от метро по личной договоренности с педагогом. Мы преподаем свадебный танец во всех районах города Москвы: САО, ЦАО, СЗАО, ЮАО, ЮЗАО, ВАО, ЗАО, ЮВАО,ЮАО
					.col-md-8
						#map_NN.address_map
					.col-md-4
						.address_list
							.address_nn
								span Нижний Новгород м. Горьковская  Проспект Гагарина 2
								a(href=".how_to_get0").show_howtoget Подробнее
								.how_to_get.how_to_get0.white-popup.mfp-hide
									.how_to_get_white
										h5 Проспект Гагарина 2 ( общежитие НГТУ номер 2)
										p Как идти:
										p вам нужно доехать до остановки пл. Лядова если вы приехал со стороны пр. Гагагрина или со стороны Молитовского моста, то вам нужно зайти в центральный вход розового здания ( общежите НГТУ 2)напротив памятника. Как придете, позвоните вашему преподавателю он вас встретит
										span Постановка свадебного танца м.Горьковская / Нижний Новгород
										img(src="static/img/address/nn1.jpg", alt="alt")
							.address_nn
								span Нижний Новгород м. Чкаловская, ул. Июльских дней 1а
								a(href=".how_to_get1").show_howtoget Подробнее
								.how_to_get.how_to_get1.mfp-hide.white-popup
									.how_to_get_white
										h5 Проспект Гагарина 2 ( общежитие НГТУ номер 2)
										p Как идти:
										p вам нужно доехать до остановки пл. Лядова если вы приехал со стороны пр. Гагагрина или со стороны Молитовского моста, то вам нужно зайти в центральный вход розового здания ( общежите НГТУ 2)напротив памятника. Как придете, позвоните вашему преподавателю он вас встретит
										span Постановка свадебного танца м.Горьковская / Нижний Новгород
										img(src="static/img/address/nn1.jpg", alt="alt")
							.address_nn
								span Нижний Новгород м. Горьковская, Казанское шоссе 12
								a(href=".how_to_get2").show_howtoget Подробнее
								.how_to_get.how_to_get2.mfp-hide
									.how_to_get_white
										h5 Проспект Гагарина 2 ( общежитие НГТУ номер 2)
										p Как идти:
										p вам нужно доехать до остановки пл. Лядова если вы приехал со стороны пр. Гагагрина или со стороны Молитовского моста, то вам нужно зайти в центральный вход розового здания ( общежите НГТУ 2)напротив памятника. Как придете, позвоните вашему преподавателю он вас встретит
										span Постановка свадебного танца м.Горьковская / Нижний Новгород
										img(src="static/img/address/nn1.jpg", alt="alt")
							.address_nn
								span Нижний Новгород м. Парк Культуры, Ул. Героя Смирнова, 12
								a(href=".how_to_get3").show_howtoget Подробнее
								.how_to_get.how_to_get3.mfp-hide
									.how_to_get_white
										h5 Проспект Гагарина 2 ( общежитие НГТУ номер 2)
										p Как идти:
										p вам нужно доехать до остановки пл. Лядова если вы приехал со стороны пр. Гагагрина или со стороны Молитовского моста, то вам нужно зайти в центральный вход розового здания ( общежите НГТУ 2)напротив памятника. Как придете, позвоните вашему преподавателю он вас встретит
										span Постановка свадебного танца м.Горьковская / Нижний Новгород
										img(src="static/img/address/nn1.jpg", alt="alt")
							.address_nn
								span Нижний Новгород м.Горьковская, ул. Варварская, 32 («Нижполиграф»)
								a(href=".how_to_get4").show_howtoget Подробнее
								.how_to_get.how_to_get4.mfp-hide
									.how_to_get_white
										h5 Проспект Гагарина 2 ( общежитие НГТУ номер 2)
										p Как идти:
										p вам нужно доехать до остановки пл. Лядова если вы приехал со стороны пр. Гагагрина или со стороны Молитовского моста, то вам нужно зайти в центральный вход розового здания ( общежите НГТУ 2)напротив памятника. Как придете, позвоните вашему преподавателю он вас встретит
										span Постановка свадебного танца м.Горьковская / Нижний Новгород
										img(src="static/img/address/nn1.jpg", alt="alt")
							.address_nn
								span Нижний Новгород м. Горьковская, ул. Звездинка 24
								a(href=".how_to_get5").show_howtoget Подробнее
								.how_to_get.how_to_get5.mfp-hide
									.how_to_get_white
										h5 Проспект Гагарина 2 ( общежитие НГТУ номер 2)
										p Как идти:
										p вам нужно доехать до остановки пл. Лядова если вы приехал со стороны пр. Гагагрина или со стороны Молитовского моста, то вам нужно зайти в центральный вход розового здания ( общежите НГТУ 2)напротив памятника. Как придете, позвоните вашему преподавателю он вас встретит
										span Постановка свадебного танца м.Горьковская / Нижний Новгород
										img(src="static/img/address/nn1.jpg", alt="alt")