extends ../layout/maink

block title
	|Адреса танцевальных залов в Казани   Залы для постановок свадебного танца в Москве
block bgbody
	.address_bg.site_head
		.site_title
			span -в ритме любви-
			h1 Студия свадебного танца
		a(href="#").scrollb
			img.scroll(src="static/img/mo.png", alt="alt")
block content
	section.address.white
		.container
			.row
				.col-md-12
					h3 Адреса танцевальных залов в Казани
					.li_pages
						a(href="#") Главная  
						a(href="#")  -  О студии  
						span - Адреса залов
					p Адреса на сайте для постановки свадебного танца указаны не полностью, при заказе Вам могут быть предложены и другие адреса вблизи выбранной станции метро в Москве.
					p Помимо танцевальных залов, предлагаемых нами, Вы так же можете предложить любую площадку для занятий (ресторан, у себя дома, на работе) в пределах доступности от станции метро, либо удаленно от метро по личной договоренности с педагогом. Мы преподаем свадебный танец во всех районах города Москвы: САО, ЦАО, СЗАО, ЮАО, ЮЗАО, ВАО, ЗАО, ЮВАО,ЮАО
					.col-md-8
						#map_Kazan.address_map
					.col-md-4
						.tula_address_list
							span м. Площадь Габдуллы Тукая,Казань ул Спартаковская д 2
							span м. Площадь Габдуллы Тукая,Казань ул. Островского 38а, оф 410
							span м. Площадь Габдуллы Тукая,Казань ул Щапова д47
							span м.Проспект Победы,Казань ул Юлиуса Фучика д 90
							span м.Проспект Победы пос. Салмычи,Казань ул. Лиственная 18
							span м. Яльшек Казань ул. Энергетиков 14
							span м. Козья Слобода Казань ул. Чистопольская д 26/5
							span м. Северный Вокзал,Казань ул Гагарина ,4
