extends ../layout/main

block title
	|Статьи о свадебном танце   Все о первом танце   Студия Ты со мной
block bgbody
	.read_bg.site_head
		.site_title
			span -в ритме любви-
			h1 Студия свадебного танца
		a(href="#").scrollb
			img.scroll(src="static/img/mo.png", alt="alt")
block content
	section.single_article.white
		.container
			.row
				.col-md-12
					h3 Несколько слов о подготовке свадебного танца
					.li_pages
						a(href="#") Главная  
						a(href="#")  -  О студии  
						a(href="#")  -  Статьи
						span -  Несколько слов о подготовке свадебного танца
				article
					.col-md-4.col-sm-6.col-xs-12
						img(src="static/img/read-3.png", alt="alt")
					.col-md-8.col-sm-6.col-xs-12
						p Очень часто, при подготовке свадебного танца, молодоженов интересует один вопрос: а сколько нам потребуется времени или уроков,чтобы сделать танец ?
						p Ответ очевиден: все зависит от Вас от Ваших индивидуальных возможностей наличие или отсутствие базовой танцевальной подготовки) и опыта взаимодействия в паре и не один хореограф не даст Вам однозначного ответа. Существует очень примерная схема: что бы запомнить не сложный танец(4-6 движений) и исполнить его под музыку от начала до конца(2,5-3 мин),требуется не менее 7-ми уроков.
					.col-md-12
						strong Существует три вида подготовки свадебного танца:
						p -Танец "на скорую руку" .Как правило , с этим сталкиваются пары, у которых остается очень мало времени на подготовку танца, но без первого танца оставаться не хочется. Например,если осталась неделя до свадьбы, а танца еще нет,то пара в спешном порядке начинает учиться танцевать через спор, нервы , но в итоге все может закончится весьма успешным танцем.
						p Необходимым минимумом можно считать : 3-4 урока(в лучшем случае 5),столько же движений и - танец готов. Как говориться просто ,но со вкусом. Но это самый минимум для того, чтобы понять - что вообще такое танцевать?
						p Итак, вот три вида подготовки:
						p - #[strong Для "галочки"] Это как правило для тех или для тех, у кого совсем не хватает времени ( свадьба через неделю) или для тех,  кто не очень хочет или со всем не хочет(кто-то один в паре) танцевать на свадьбе. Да, такое случается. Но приходится все же себя пересиливать. Пара записывается на уроки, берет 3-4 урока. И танцуют).Иногда, такие пары даже входят во вкус и их мнение резко меняется. Из танца для "галочки" танец превращается в полноценный танец. И такое случается достаточно часто друзья мои.
						p - #[strong "Красивый, поставленный танец".] 90% постановок относятся к этой категории танцев. У молодоженов в распоряжении месяц. Они практически успели все самое важное и конечно же располагают достаточным количеством времени, что бы подготовить свой танец. В среднем, 7-10 уроков хватает ,что бы грамотно подобрать музыку, подобрать движения( что бы платье не мешалось). Все проходит на высоте!
						p - #[strong "Высший пилотаж".] Есть пары (и их очень не мало), которые начинают подготовку свадебного танца месяца за два или три . Связано это со многими факторами: от желание все успеть и ничего не забыть до (самого главного)- наш танец должен произвести "фурор". И это понятно: за два-три месяца можно до идеального вида отточить свой танец, подобрать более сложные движения и исполнить все на должном уровне. Иногда, в данной категории ,пары учат и второй танец(менее сложный) или делают целое шоу с участием профессиональных танцоров. Это по истине грандиозное зрелище , плюсуем еще сюда профессиональную видеосъемку с 2-3 камерами с разных точек и спецэффекты(свет, дым, салют и т.д). В общем лучше один раз увидеть, чем сто раз услышать.
						p И главное: не важно станцуете ли вы 3 или 30 движений, главное то, чтобы Вы хотели танцевать, хотели наслаждаться друг другом и тогда танец приобретет совсем иной вид - танец двух любящих людей!!
						span автор статьи: Александр Логинов
				.col-md-12
					.links_article
						p Рекомендуем к прочтению:
						ul
							li
								a(href="#") Самый важный танец
							li
								a(href="#") Оригинальная свадьба
							li
								a(href="#") Конфликты при постановке свадебного танца

