extends ../layout/main

block title
	|FAQ   Часто задаваемые вопросы по свадебному танцу
block bgbody
	.faq_bg.site_head
		.site_title
			span -в ритме любви-
			h1 Студия свадебного танца
		a(href="#").scrollb
			img.scroll(src="static/img/mo.png", alt="alt")
block content
	section.faq.white
		.container
			.row
				.col-md-12
					h3 Часто задаваемые вопросы
					.li_pages
						a(href="#") Главная  
						a(href="#")  -  О студии  
						span - FAQ
					a.purp_but.ask(href="#ask_qwest") Задать вопрос
					#ask_qwest.mfp-hide
						form.qwest
									label(for="qname") Ваше имя:
									input#qname(type="text"  placeholder="Введите имя")
									label(for="qmail") Email:
									input#qmail(type="email" placeholder="Введите адрес электронной очты")
									label(for="mmmess") Сообщение
									textarea#mmmess(type="text" name="textarea" placeholder="Введите ообщение")
									button.button.purp_but Отправить
					button.qwestion.qw1(href="#") никогда в жизни не танцевали, очень волнуемся что не получится
					.answer1.ans.hide
						p Вам не стоит волноваться, у Вас все получится. В нашей студии работают профессиональные педагоги, у которых огромный опыт работы в постановке свадебного танца
					button.qwestion.qw2(href="#") в чем приходить на занятия?
					.answer2.ans.hide
						p В том, в чем Вы себя будете комфортно чувствовать. Что касается обуви, то на первые несколько занятий желательно обувать что то легкое, без каблука (для дам). Последние несколько занятий уже проходят в обуви на каблуке или в той, в которой Вы будете танцевать. Это делается для того, чтобы подготовить стопу и подъем к правильной нагрузке.
					button.qwestion.qw3(href="#") Сколько потребуется занятий?
					.answer3.ans.hide
						p Все зависит только от Вас. В среднем, на подготовку свадебного танца уходит 6-10 занятий .Опять же, надо понимать, какой сложности Вы хотите танец и какой результат Вы желаете на выходе. В любом случае, все исходит из Ваших пожеланий
					button.qwestion.qw4(href="#") Мы знаем какой хотим исполнить танец, но у нас нет музыки?
					.answer4.ans.hide
						p Не беспокойтесь. Наша студия обладает значительной фонотекой, педагоги помогут Вам в выборе. Вы можете #[a(href="#") послушать] и #[a(href="#") посмотреть] подборку популярных форматов на нашем сайте и уже исходить из понравившегося выбора.
					button.qwestion.qw5(href="#") А если мы захотим больше, чем 8 уроков - это возможно?
					.answer5.ans.hide
						p Конечно возможно! Хорошая подготовка – залог успеха. Количеству занятий нет предела.
					button.qwestion.qw6(href="#") в чем приходить на занятия?
					.answer6.ans.hide
						p В том, в чем Вы себя будете комфортно чувствовать. Что касается обуви, то на первые несколько занятий желательно обувать что то легкое, без каблука (для дам). Последние несколько занятий уже проходят в обуви на каблуке или в той, в которой Вы будете танцевать. Это делается для того, чтобы подготовить стопу и подъем к правильной нагрузке.
					button.qwestion.qw7(href="#") Сколько потребуется занятий?
					.answer7.ans.hide
						p Все зависит только от Вас. В среднем, на подготовку свадебного танца уходит 6-10 занятий .Опять же, надо понимать, какой сложности Вы хотите танец и какой результат Вы желаете на выходе. В любом случае, все исходит из Ваших пожеланий
					button.qwestion.qw8(href="#") Мы знаем какой хотим исполнить танец, но у нас нет музыки?
					.answer8.ans.hide
						p Не беспокойтесь. Наша студия обладает значительной фонотекой, педагоги помогут Вам в выборе. Вы можете #[a(href="#") послушать] и #[a(href="#") посмотреть] подборку популярных форматов на нашем сайте и уже исходить из понравившегося выбора.
					button.qwestion.qw9(href="#") А если мы захотим больше, чем 8 уроков - это возможно?
					.answer9.ans.hide
						p Конечно возможно! Хорошая подготовка – залог успеха. Количеству занятий нет предела.


