extends ../layout/main

block title
	|Love is... Истории любви наших выпускников   Студия Ты со мной
block bgbody
	.loveis_bg.site_head
		.site_title
			span -в ритме любви-
			h1 Студия свадебного танца
		a(href="#").scrollb
			img.scroll(src="static/img/mo.png", alt="alt")
block content
	section.loveis.white
		.container
			.row
				.col-md-12
					h3 Love is... Настоящие истории любви
					.li_pages
						a(href="#") Главная  
						a(href="#")  -  О студии  
						span  -  Love is
					p Рады представить Вам правдивые и настоящие истории любви, которыми поделились  выпускники студии свадебного танца "Ты со мной".
					.stories_list
						.storie
							a(href="#")
								span История - 1
								img(src="static/img/love1.png", alt="alt")
								h6 Ксюша и Саша
						.storie
							a(href="#")
								span История - 2
								img(src="static/img/love2.png", alt="alt")
								h6 Ксюша и Саша
						.storie
							a(href="#")
								span История - 3
								img(src="static/img/love3.png", alt="alt")
								h6 Ксюша и Саша
						.storie
							a(href="#")
								span История - 4
								img(src="static/img/love4.png", alt="alt")
								h6 Ксюша и Саша
	