extends ../layout/main

block title
	|Love is...История от Дмитрия и Натальи
block bgbody
	.loveis_bg.site_head
		.site_title
			span -в ритме любви-
			h1 Студия свадебного танца
		a(href="#").scrollb
			img.scroll(src="static/img/mo.png", alt="alt")
block content
	section.loveis_1.white
		.container
			.row
				.col-md-12
					h3 Love is...История от Дмитрия и Натальи
					.li_pages
						a(href="#") Главная  
						a(href="#")  -  О студии  
						a(href="#")  -  Love is
						span  -  История от Дмитрия и Натальи
				.col-md-3.col-sm-4.col-xs-12
					img(src="static/img/love3.png", alt="alt")
				.col-md-9.col-sm-8.col-xs-12
					p Ну, вот в одно прекрасное утро мы подали заявление в ЗАГС и понеслось! ))
					p Ресторан-ведущий-платье-фотограф-оператор-визажист и многое, многое другое.
					p Ну, естественно - свадебный танец. У нас подобрался чудесный ресторан в старинном благородном стиле, с лепниной и зеркалами, и даже со специальным залом для танцев, так что сомнений не было, что исполнять мы будем только классический вальс!
					p Однако, как оказалось, сомнений не было только у меня )), у жениха их было предостаточно! )) Мне стоило усилий и смекалки, чтобы доказать ему, что наш танец будет уместен и красив (как им, мальчикам, все-таки непросто в таких делах!)).
				.col-md-12
					p Дело в том, что мы вообще не танцоры - я последний (да, и первый, наверное) раз разучивала вальс только к выпускному в школе, мой муж в такие авантюры и вовсе ранее стянут не был. Поэтому начать танцевать, да вдвоем, да так, чтобы это было хорошо и прилично, да еще в ограниченный отрезок времени - это был наш маленький совместный подвиг. И большей степени он удался потому, что мы попали в опытные руки преподавателя Логинова Александра.
					p  С Александром действительно приятно. Он очень легкий и прикольный. Никакого прессинга, ничего похожего на какое-либо неодобрение наших неуклюжих па не было и в помине, все объяснения понятны и доступны даже нам, никогда в танцах не замеченным. Мы занимались с преподавателем в зале, но и дома тренировались в меру сил и времени. На последние репетиции я специально одевала свадебные туфли и кринолин, чтобы привыкнуть к каблуку и объему юбки. Мы старались очень, конечно, переживали. Но усилия были вознаграждены - танец получился чудесным! На нашем свадебном видео во время танца восхищенных вздохов и вспышек фотоаппаратов больше, чем на красных дорожках кинофестивалей ))
					p  Как говорят, опытные преподаватели, для того, чтобы поставить сносный танец молодоженам, без особо сложных элементов и стандартной длительностью в 2-3 минуты, достаточно восьми уроков. У нас вышло семь, но мы просто уже не успевали, хотя совершенству пределов нет, и можно было бы еще потренироваться. Еще одним нашим тормозом было то, что мы три урока подряд меняли музыку, пока, наконец, не остановились на песне Норы Джонс \"Come away with me\"- ее предложил наш преподаватель Александр. В песне очень четкий вальсовый ритм, при этом она медленная и очень удобная. Нам же сначала хотелось танцевать под Свиридовский вальс из \"Метели\" и пр. Но Александр сразу нас предупредил, что времени слишком мало и, если мы хотим станцевать хорошо, нужно брать музыку с медленным темпом.
					p Вообще, я считаю, если нет каких-то очень существенных препятствий связанных со здоровьем или там с критическим недостатком времени, то обязательно нужно отрепетировать и станцевать свадебный вальс. Даже можно заранее начать ходить в какую-нибудь студию бальных танцев, понять технику, выучить движения, а потом составить свой, пусть простой, наивный, но настоящий первый танец молодоженов. Если вы по жизни не увлекаетесь танцами, тем более классическими, то шанс когда-нибудь вместе с мужем покружиться в вальсе очень и очень не велик. А здесь останутся фотографии, видео и вы и ваши близкие запомнят вас как настоящих принца и принцессу, танцующих в свой самый главный бал ))
					p Последнюю репетицию мы провели с Александром за три дня до свадьбы в ресторане, опять же чтобы привыкнуть к помещению, найти себя в этом пространстве, иначе есть риск растеряться и запутаться при выступлении. И, несмотря на то, что мы редкий прогон танца могли сделать без ошибок, в час икс мы станцевали прекрасно. Даже жених, который по понятным причинам, больше меня переживал и спадал в истерику, даже он был безупречен. Во всяком случае, когда у нас вдруг перепутались шаги, он не сделал, как обычно отчаянное лицо, а продолжил танцевать, улыбаясь. Естественно, зрители ничего не заметили, а я поняла, что мой муж, наконец-то не мучается от того, что его заставляют, а просто с удовольствием танцует со мной.
					p  Спасибо  ! Мы были великолепны, очаровали всех гостей и получили массу удовольствия от подготовки и исполнения нашего свадебного вальса!
					.col-md-12
					.links_stories
						p Читать другие истории:
						ul
							li
								a(href="#") - История от Ольги и Андрея
							li
								a(href="#") - История от Станислава и Леоны
							li
								a(href="#") - История от Ксюши и Саши
