extends ../layout/main

block title
	|Молодоженам на заметку   Заметки для молодоженов
block bgbody
	.merried_bg.site_head
		.site_title
			span -в ритме любви-
			h1 Студия свадебного танца
		a(href="#").scrollb
			img.scroll(src="static/img/mo.png", alt="alt")
block content
	section.merried.white
		.container
			.row
				.col-md-12
					h3 Важные советы молодоженам
					.li_pages
						a(href="#") Главная  
						a(href="#")  -  О студии  
						span  -  Молодоженам на заметку
					p Практика показывает ,что как и при подготовки самой свадьбы, так и при подготовки свадебного танца возникает ряд вопросов и моментов, с которыми  сталкиваются практически все пары. Исходя из нашего опыта , хотелось бы охотно поделиться с Вами своими наблюдениями и советами . Данный раздел будет постепенно наполняться. Надеемся, что-то будет Вам полезно.
					p #[strong Вопрос 1 - Обувь.] Вечный вопрос всех молодых – в чем приходить на уроки  и вообще в чем танцевать?
					p #[strong Наш совет.] Конечно свадебная обувь (и женская и мужская) очень красивая, отлично сидит на ноге  и которую очень хочется надеть . Но, свадебная обувь  так же очень специфична ,а которой под час не то, что танцевать , а не удобно ходить . Если вы уже обладатель такой обуви , то конечно на занятия сразу приходить в них не стоит. Во первых – давайте не много по бережем ее, так как 99,9% что на первых уроках при подготовки свадебного танца вы будете ходить друг другу по ногам . А чтобы желание сохранить красоту ваших туфель не отвлекало вас от процесса – все же стоит их пока оставить дома. Во вторых – стопа и связки во время танца гораздо больше задействованы и нагружены, чем в обычной жизни , по этому сначала мышцы нужно не много приучить( особенно для тех ,кто в жизни редко ходит на каблуках) ,чтобы избежать травм и неправильной работе стоп. Можно также отнести это и к мужчинам , кто в обычной жизни не ходит в классической обуви . Вот когда уже ваш танец будет готов ,то на заключительные 3-4 урока можно смело приносить с собой ваши туфли. Ваши ощущения от танца уже на много увереннее, вы лучше чувствуете друг друга в танце , на ноги мы уже не наступаем  и остается только привыкнуть к обуви (как правило это занимает урок) и вот- ваш лучший свадебный танец  готов! Осталось только поразить своим движением всех гостей!
					p Еще одна заметка -  есть разновидности женских туфель : с застежкой на лямке и лодочки. Если у вас туфли с застежкой ,то это отлично, обувь по идее крепко сидит на ноге. А если вы выбрали все же лодочки , то чтобы во время танца обувь так же хорошо держалась, достаточно использовать обычную канцелярскую резинку, прозрачного или телесного цвета. Просто обмотайте резинкой ногу в районе стопы и все -  туфли так же комфортно сидят на ноге.
					p Конечно, если есть возможность приобрести  специальную танцевальную обувь – это только плюс. Все же она разработана специально для танца, в ней комфортно и удобно.
					br
					p #[strong Вопрос-2.-Платье.] Длинное свадебное платье или есть шлейф, как быть?
					p #[strong Наш совет.]  Тут все не так страшно, как кажется. Итак, начнем по порядку. Длинный шлейф – конечно тут есть два пути решения этой задачи: либо приколоть его к платью по крепче на все мероприятие, либо сделать  специальный крепеж, петлю и т.д. для исполнения первого танца. Конечно же очевидно, что если оставить шлейф на полу ,то свадебного танца не получиться физически, так как это и не удобно и не безопасно. Ну вот, шлейф мы прикололи, надежно , теперь стоит понять – какой танец мы сможем исполнить в таком платье? . Если платье получилось объемным и тяжелым ,то тут скорее всего речь пойдет о каком то классическом свадебном танце : свадебный вальс, фокстрот и т.д. так как с таким массивным платьем довольно таки тяжко активно двигаться ,да и гораздо эффектнее и все же логичнее будет исполнить классику (но выбор все же предоставляется молодоженам – это всего лишь совет ).  Если платье получилось без видимых и ощутимых изменений (что вполне возможно, ввиду огромной разновидности фасонов ) , то тут уже можно танцевать что угодно, главное от души и для души!
					p Другая часть вопроса - длинное платье.   Так, без паники ))))Тут все тоже не так страшно . Все же для своей безопасности желательно платье подшить так, чтобы ваша стопа была хорошо видна из под платья . Так вы сможете ходить и танцевать не опасаясь, что вы или ваш возлюбленный наступит на платье. Так же оно будет меньше пачкаться. Но , если мы наотрез отказываемся его подшивать ,то это не беда (хотя все же желательно подшить)  . Перед  исполнением своего первого танца , платье по краям достаточно подколоть обычными булавками (5-6 штук волне хватит) . Можно попросить кого то из подруг. Так , во время танца вы будете чувствовать себя комфортно ,а гости так же ничего не заметят. Есть и другой вариант – просто переодеть платье на танец. Это произведет впечатление и даст дополнительную изюминку танцу (как иногда говорят танец 21 века). В любом случае – решения есть и выбор всегда за вами.








