extends ../layout/main

block title
	| Музыка для свадебного танца :: Слушать песни для первого танца :: Студия Ты со мной
block bgbody
	.music_bg.site_head
		.site_title
			span -в ритме любви-
			h1 Студия свадебного танца
		a(href="#").scrollb
			img.scroll(src="static/img/mo.png", alt="alt")
block content
	section.music.white
		.container
			.row
				.col-md-12
					h3 Музыка для свадебного танца
					.li_pages
						a(href="#") Главная 
						span  - Музыка
					p Разнообразие танцевальных и музыкальных стилей дает огромный выбор для свадебных постановок. Возможно, для первого танца Вы выберете  классический медленный вальс или хотите оригинальный первый танец в комбинированном стиле .Какой бы танец и музыку Вы не выбрали, мы не  сомневаемся - это будет самый лучший свадебный танец , а главное - он будет не похож на другие....он будет Ваш - танец двух влюбленных сердец!.
					p Вы уже определились с танцем, но не уверенны в том, какую музыку для первого танца Вам выбрать или у Вас нет вовсе музыкальной композиции.  Наша студия с удовольствием поможет Вам в этом нелегком выборе, поскольку в нашем арсенале достаточно обширная фонотека. При заказе #[a(href="#") постановки свадебного танца], Вы сообщаете нам Ваши вкусы и предпочтения, а мы подбираем и высылаем Вам музыкальную подборку для свадебного танца на выбор.
					strong Внимание!Вся музыка для свадебного танца представлена в качестве ознакомления, скачать ее можно со сторонних источников.
					.music_styles
						a.m_style(href="#") Медленный вальс
						a.m_style(href="#") Венский вальс
						a.m_style(href="#") Свадебный фокстрот
						a.m_style(href="#") Свадебное танго
						a.m_style(href="#") Сальса
						a.m_style(href="#") Бачата
						a.m_style(href="#") Медленный вальс
						a.m_style(href="#") Венский вальс
						a.m_style(href="#") Свадебный фокстрот
						a.m_style(href="#") Свадебное танго
						a.m_style(href="#") Сальса
						a.m_style(href="#") Бачата
						a.m_style(href="#") Медленный вальс
						a.m_style(href="#") Венский вальс
						a.m_style(href="#") Свадебный фокстрот
					.img_divide
						span.on_img Музыка на все случаи жизни
					h4 Не нашли музыку для свадебного танца?
					p Попробуйте посмотреть в нашей группе в контакте : #[a(href="https://vk.com/weddmusic") музыка для свадебного танца]
					p Там представлен большой выбор музыкальных стилей и направлений для первого танца на любой вкус. При желании, Вы можете выбрать музыку для первого свадебного танца и скачать ее.
					.t_link_wrap
						a(href="#").t_link #музыкадлясвадебноготанца
						a(href="#").t_link #песнидлясвадебноготанца
						a(href="#").t_link #музыкадляпервоготанца




