extends ../layout/main

block title
	|Новости студии   Школа свадебного танца Ты со мной
block bgbody
	.news_bg.site_head
		.site_title
			span -в ритме любви-
			h1 Студия свадебного танца
		a(href="#").scrollb
			img.scroll(src="static/img/mo.png", alt="alt")
block content
	section.news.white
		.container
			.row
				.col-md-12
					h3 Новости студии
					.li_pages
						a(href="#") Главная  
						a(href="#")  -  О студии  
						span  -  Новости
					#news_slide.owl-carousel.owl-theme
						.slidewr
							img.slide(src="static/img/slide1.jpg", alt="alt")
							.slide_desc.sl1
								span для первого танца
								span Советы молодоженам
								span Ценные советы
								button.transp Подробнее
						.slidewr
							img.slide(src="static/img/slide2.jpg", alt="alt")
							.slide_desc.sl2
								span Все о
								span cвадебном
								span танце
								button.transp Подробнее
						.slidewr
							img.slide(src="static/img/slide3.jpg", alt="alt")
							.slide_desc.sl3
								span Weedding Dance Award
								span Сваденый танец года
								button.transp Подробнее
								button.transp.b2 На сайт Премии
						.slidewr
							img.slide(src="static/img/slide4.jpg", alt="alt")
							.slide_desc.sl4
								span Новая услуга
								span с профессионалами
								span Свадебный танец
								button.transp Подробнее
					h4 Другие новости студии
					.news_one
						h5 Российская премия в области  свадебного танца "Wedding Dance Award 2016"
						span.news_date 19.11.2016
						p Гала-шоу состоится 19 ноября 2016 года в Арт-кафе "ДуровЪ" (Москва)Организатор конкурса - свадебный проект "Ты со мной" (http://www.tisomnoy.ru ) Главный 	приз - отдых на двоих в Прованс отеле 4 сезона и множество других призов.. Шанс есть у каждой пары. Подробнее на сайте - http://www.wedding-battle.ru
					.news_one
						h5 Большое обновление сайта! 
						span.news_date  09.06.2016
						p С радостью спешим сообщить Вам о том, что мы полностью поменяли дизайн сайта. Теперь в нем появилось больше полезных функций и он стал еще удобнее. Надеемся Вы это оцените ;)
					.news_one
						h5 Российская премия в области  свадебного танца "Wedding Dance Award 2016"
						span.news_date 19.11.2016
						p Гала-шоу состоится 19 ноября 2016 года в Арт-кафе "ДуровЪ" (Москва)Организатор конкурса - свадебный проект "Ты со мной" (http://www.tisomnoy.ru ) Главный приз - отдых на двоих в Прованс отеле 4 сезона и множество других призов.. Шанс есть у каждой пары. Подробнее на сайте - http://www.wedding-battle.ru
					.news_one
						h5 Большое обновление сайта! 
						span.news_date  09.06.2016
						p С радостью спешим сообщить Вам о том, что мы полностью поменяли дизайн сайта. Теперь в нем появилось больше полезных функций и он стал еще удобнее. Надеемся Вы это оцените ;)
					.news_one
						h5 Российская премия в области  свадебного танца "Wedding Dance Award 2016"
						span.news_date 19.11.2016
						p Гала-шоу состоится 19 ноября 2016 года в Арт-кафе "ДуровЪ" (Москва)Организатор конкурса - свадебный проект "Ты со мной" (http://www.tisomnoy.ru ) Главный приз - отдых на двоих в Прованс отеле 4 сезона и множество других призов.. Шанс есть у каждой пары. Подробнее на сайте - http://www.wedding-battle.ru
					.news_one
						h5 Большое обновление сайта! 
						span.news_date  09.06.2016
						p С радостью спешим сообщить Вам о том, что мы полностью поменяли дизайн сайта. Теперь в нем появилось больше полезных функций и он стал еще удобнее. Надеемся Вы это оцените ;)
					.news_one
						h5 Российская премия в области  свадебного танца "Wedding Dance Award 2016"
						span.news_date 19.11.2016
						p Гала-шоу состоится 19 ноября 2016 года в Арт-кафе "ДуровЪ" (Москва)Организатор конкурса - свадебный проект "Ты со мной" (http://www.tisomnoy.ru ) Главный приз - отдых на двоих в Прованс отеле 4 сезона и множество других призов.. Шанс есть у каждой пары. Подробнее на сайте - http://www.wedding-battle.ru
					.news_one
						h5 Большое обновление сайта! 
						span.news_date  09.06.2016
						p С радостью спешим сообщить Вам о том, что мы полностью поменяли дизайн сайта. Теперь в нем появилось больше полезных функций и он стал еще удобнее. Надеемся Вы это оцените ;)
