extends ../layout/main

block title
	| Партнёры студии свадебного танца -Ты со мной
block bgbody
	.site_head.partners_bg
		.site_title
			span -в ритме любви-
			h1 Студия свадебного танца
		a(href="#").scrollb
			img.scroll(src="static/img/mo.png", alt="alt")

block content
	section.partners.white
		.container
			.row
				.col-lg-12.white
					h3 Партнёры
					.li_pages
						a(href="#") Главная 
						span  - Партнёры
		.container.partners_list.white
			.row
				.col-lg-12
					.partner
						.col-lg-3.col-md-3.col-sm-4.col-xs-12
							img(src="static/img/partn.png", alt="partner")
						.col-lg-9.col-md-9.col-sm-8.col-xs-12
							p Vitalita - это уникальный и пожалуй лучший салон красоты в Москве, так же является партнером,базой и большим другом студии свадебного танца "Ты со мной".Возможности салона поражают своим многообразием. Здесь Вы можете не только отдохнуть, но и подготовится к свадьбе!
					.partner
						.col-lg-3.col-md-3.col-sm-4.col-xs-12
							img(src="static/img/partn1.png", alt="partner")
						.col-lg-9.col-md-9.col-sm-8.col-xs-12
							p Идеальный вариант для свадьбы на свежем воздухе. Выездная регистрация на фоне красивых пейзажей, банкет в шатре и комфортное размещение в отеле. Для гостей можно организовать развлечения на любой вкус, от посещения Spa&Wellness центра до катания на катерах.
					.partner
						.col-lg-3.col-md-3.col-sm-4.col-xs-12
							img(src="static/img/partn2.png", alt="partner")
						.col-lg-9.col-md-9.col-sm-8.col-xs-12
							p Вот уже 15 лет эта команда делает торты и пирожные любой 	сложности  тематики на заказ: свадебные и предсвадебные, подарочные, детские, корпоративные, шоу торты, разнообразные десерты и карамельные фигуры. Торты кондитерской "Алтуфьево" отличаются отличаются эксклюзивностью, то есть изготавливаются под заказ, воплощая в жизнь любые желания и мечты. Так же у каждого клиента есть возможность создать самому торт своей мечты с помощью уникального приложения "Конструктор тортов" на сайте.
					.partner
						.col-lg-3.col-md-3.col-sm-4.col-xs-12
							img(src="static/img/partn3.png", alt="partner")
						.col-lg-9.col-md-9.col-sm-8.col-xs-12
							p Наш друг и партнер, который предлагает молодоженам отличный отдых на Карибских островах по системе ультра все включено. Компания Сандалс поддержала наш проект "Свадебный танец года", который состоялся в 2015 году.
					.partner
						.col-lg-3.col-md-3.col-sm-4.col-xs-12
							img(src="static/img/partn4.png", alt="partner")
						.col-lg-9.col-md-9.col-sm-8.col-xs-12
							p Проект "Свадебный танец года" - это премия за лучший свадебный танец, который присуждается, исходя из зрительского голосования в конце каждого года.

