extends ../layout/main

block title
	|Фотографии наших молодоженов :: Выпускники студии свадебного танца "Ты со мной"
block bgbody
	.photo_bg.site_head
		.site_title
			span -в ритме любви-
			h1 Студия свадебного танца
		a(href="#").scrollb
			img.scroll(src="static/img/mo.png", alt="alt")
block content
	section.photo.white
		.container
			.row
				.col-md-12
					h3 Фотографии наших молодоженов
					.li_pages
						a(href="#") Главная  
						a(href="#")  -  О студии  
						span  -  Фотографии
					p Мы с огромной радостью представляем Вам фотографии выпускников нашей студии, которые прислали свои счастливые, танцевальные моменты. Разумеется, это лишь малая часть наших выпускников. Надеемся, что данный фотоальбом будет пополняться все новыми и новыми счастливыми фотографиями наших замечательных и любимых молодоженов.
					.galery.popup-gallery
						a(href="static/img/newlyweds/1b.jpg")
							img(src="static/img/newlyweds/1s.jpg", alt="alt")
						a(href="static/img/newlyweds/2b.jpg")
							img(src="static/img/newlyweds/2s.jpg", alt="alt")
						a(href="static/img/newlyweds/3b.jpg")
							img(src="static/img/newlyweds/3s.jpg", alt="alt")
						a(href="static/img/newlyweds/4b.jpg")
							img(src="static/img/newlyweds/4s.jpg", alt="alt")
						a(href="static/img/newlyweds/5b.jpg")
							img(src="static/img/newlyweds/5s.jpg", alt="alt")
						a(href="static/img/newlyweds/1b.jpg")
							img(src="static/img/newlyweds/1s.jpg", alt="alt")
						a(href="static/img/newlyweds/2b.jpg")
							img(src="static/img/newlyweds/2s.jpg", alt="alt")
						a(href="static/img/newlyweds/3b.jpg")
							img(src="static/img/newlyweds/3s.jpg", alt="alt")
						a(href="static/img/newlyweds/4b.jpg")
							img(src="static/img/newlyweds/4s.jpg", alt="alt")
						a(href="static/img/newlyweds/5b.jpg")
							img(src="static/img/newlyweds/5s.jpg", alt="alt")
						a(href="static/img/newlyweds/1b.jpg")
							img(src="static/img/newlyweds/1s.jpg", alt="alt")
						a(href="static/img/newlyweds/1b.jpg")
							img(src="static/img/newlyweds/1s.jpg", alt="alt")
						a(href="static/img/newlyweds/2b.jpg")
							img(src="static/img/newlyweds/2s.jpg", alt="alt")
						a(href="static/img/newlyweds/3b.jpg")
							img(src="static/img/newlyweds/3s.jpg", alt="alt")
						a(href="static/img/newlyweds/4b.jpg")
							img(src="static/img/newlyweds/4s.jpg", alt="alt")
						a(href="static/img/newlyweds/5b.jpg")
							img(src="static/img/newlyweds/5s.jpg", alt="alt")
						a(href="static/img/newlyweds/1b.jpg")
							img(src="static/img/newlyweds/1s.jpg", alt="alt")
						a(href="static/img/newlyweds/2b.jpg")
							img(src="static/img/newlyweds/2s.jpg", alt="alt")
						a(href="static/img/newlyweds/3b.jpg")
							img(src="static/img/newlyweds/3s.jpg", alt="alt")
						a(href="static/img/newlyweds/4b.jpg")
							img(src="static/img/newlyweds/4s.jpg", alt="alt")
						a(href="static/img/newlyweds/5b.jpg")
							img(src="static/img/newlyweds/5s.jpg", alt="alt")
						a(href="static/img/newlyweds/1b.jpg")
							img(src="static/img/newlyweds/1s.jpg", alt="alt")
						a(href="static/img/newlyweds/1b.jpg")
							img(src="static/img/newlyweds/1s.jpg", alt="alt")
						a(href="static/img/newlyweds/2b.jpg")
							img(src="static/img/newlyweds/2s.jpg", alt="alt")
						a(href="static/img/newlyweds/3b.jpg")
							img(src="static/img/newlyweds/3s.jpg", alt="alt")
						a(href="static/img/newlyweds/4b.jpg")
							img(src="static/img/newlyweds/4s.jpg", alt="alt")
						a(href="static/img/newlyweds/5b.jpg")
							img(src="static/img/newlyweds/5s.jpg", alt="alt")
						a(href="static/img/newlyweds/1b.jpg")
							img(src="static/img/newlyweds/1s.jpg", alt="alt")
						a(href="static/img/newlyweds/2b.jpg")
							img(src="static/img/newlyweds/2s.jpg", alt="alt")
						a(href="static/img/newlyweds/3b.jpg")
							img(src="static/img/newlyweds/3s.jpg", alt="alt")
						a(href="static/img/newlyweds/4b.jpg")
							img(src="static/img/newlyweds/4s.jpg", alt="alt")
						a(href="static/img/newlyweds/5b.jpg")
							img(src="static/img/newlyweds/5s.jpg", alt="alt")
						a(href="static/img/newlyweds/1b.jpg")
							img(src="static/img/newlyweds/1s.jpg", alt="alt")
						a(href="static/img/newlyweds/5b.jpg")
							img(src="static/img/newlyweds/5s.jpg", alt="alt")
						a(href="static/img/newlyweds/1b.jpg")
							img(src="static/img/newlyweds/1s.jpg", alt="alt")
						a(href="static/img/newlyweds/2b.jpg")
							img(src="static/img/newlyweds/2s.jpg", alt="alt")
						a(href="static/img/newlyweds/3b.jpg")
							img(src="static/img/newlyweds/3s.jpg", alt="alt")
						a(href="static/img/newlyweds/4b.jpg")
							img(src="static/img/newlyweds/4s.jpg", alt="alt")
						a(href="static/img/newlyweds/5b.jpg")
							img(src="static/img/newlyweds/5s.jpg", alt="alt")
						a(href="static/img/newlyweds/1b.jpg")
							img(src="static/img/newlyweds/1s.jpg", alt="alt")
