extends ../layout/main

block title
	|Отзывы о студии свадебного танца ты со мной:: Москва
block bgbody
	.reviews_bg.site_head
		.site_title
			span -в ритме любви-
			h1 Студия свадебного танца
		a(href="#").scrollb
			img.scroll(src="static/img/mo.png", alt="alt")
block content
	section.reviews.white
		.container
			.row
				.col-md-12
					h3 Отзывы
					.li_pages
						a(href="#") Главная 
						span  - Отзывы

					p Дорогие молодожены, а так же те, кто только собирается ими стать. На данной странице, Вы сможете почитать приятные слова тех молодоженов, которые обращались к нам в студию. Каждый отзыв очень важен и ценен для нас!
					a.but_review(href="#new_review") Оставить свой отзыв
						#new_review.mfp-hide
							form.review
										label(for="mmname") Ваше имя:
										input#mmname(type="text"  placeholder="Введите имя")
										label(for="mmmail") Email:
										input#mmmail(type="email" placeholder="Введите адрес электронной почты")
										label(for="mmmess") Ваш отзыв
										textarea#mmmess(type="text" name="textarea" placeholder="Введите сообщение")
										p Проверка:
										// капча
										button.button.button_mk Отправить
					a.but_applic2(href="#application2") Заказать постановку
						#application2.mfp-hide
							form.appl_form
								label(for="ffname") Имя:
								input#ffname(type="text"  placeholder="Введите имя жениха и невесты")
								label(for="ffmail") Электронная почта:
								input#ffmail(type="text" placeholder="Введите адрес электронной почты")
								label(for="ffmess") Сообщение:
								textarea#ffmess(type="text" name="textarea" placeholder="Введите дату свадьбы, место обучения")
								label(for="ffphone") Мобильный телефон:
								input#ffphone(type="text" placeholder="Введите номер телефона")
								p Выберите услугу:
								.field
									input#r11(type="checkbox" name="weeding dance")
									label(for="r11") Постановка свадебного танца
								.field
									input#r22(type="checkbox" name="express")
									label(for="r22") Экспресс обучение
								.field
									input#r33(type="checkbox" name="friend dance")
									label(for="r33") Танец друзей
								.field
									input#r44(type="checkbox" name="parent dance")
									label(for="r44") Танец родителей на свадьбу
								.field
									input#r55(type="checkbox" name="ballerinas")
									label(for="r55") Танец с балеринами
								.field
									input#r66(type="checkbox" name="anniversary")
									label(for="r66") Танец на годовщину
								.field
									input#r77(type="checkbox" name="another")
									label(for="r77") Другое...
								span Проверка:
								//здесь вставить капчу
								input(type="submit" value="Отправить")
					img.new_servise(src="static/img/v12.png", alt="alt")
					.review_list
						.review_item
							h5 Ира и Дима
							p Мы ставили свой свадебный танец под руководством Марии Махотько (СПб). Всего за 10 занятий Маше удалось сделать отличный танец под нашу любимую и сложную мелодию, спасибо ей огромное! Мы выбирали среди многих школ и преподавателей и что удивительно, большинство отговаривали нас от мелодии под предлогом её сложности и нашего "нулевого" уровня. Маша занялась нами профессионально, довела дело до конца, в процессе постановке всегда прислушиваясь к нашим пожеланиям и корректируя рисунок танца при необходимости. Учится было одно удовольствие!
							span 07.09.2016
						.review_item
							h5 Ира и Дима
							p Мы ставили свой свадебный танец под руководством Марии Махотько (СПб). Всего за 10 занятий Маше удалось сделать отличный танец под нашу любимую и сложную мелодию, спасибо ей огромное! Мы выбирали среди многих школ и преподавателей и что удивительно, большинство отговаривали нас от мелодии под предлогом её сложности и нашего "нулевого" уровня. Маша занялась нами профессионально, довела дело до конца, в процессе постановке всегда прислушиваясь к нашим пожеланиям и корректируя рисунок танца при необходимости. Учится было одно удовольствие!
							span 07.09.2016
						.review_item
							h5 Ира и Дима
							p Мы ставили свой свадебный танец под руководством Марии Махотько (СПб). Всего за 10 занятий Маше удалось сделать отличный танец под нашу любимую и сложную мелодию, спасибо ей огромное! Мы выбирали среди многих школ и преподавателей и что удивительно, большинство отговаривали нас от мелодии под предлогом её сложности и нашего "нулевого" уровня. Маша занялась нами профессионально, довела дело до конца, в процессе постановке всегда прислушиваясь к нашим пожеланиям и корректируя рисунок танца при необходимости. Учится было одно удовольствие!
							span 07.09.2016
						.review_item
							h5 Ира и Дима
							p Мы ставили свой свадебный танец под руководством Марии Махотько (СПб). Всего за 10 занятий Маше удалось сделать отличный танец под нашу любимую и сложную мелодию, спасибо ей огромное! Мы выбирали среди многих школ и преподавателей и что удивительно, большинство отговаривали нас от мелодии под предлогом её сложности и нашего "нулевого" уровня. Маша занялась нами профессионально, довела дело до конца, в процессе постановке всегда прислушиваясь к нашим пожеланиям и корректируя рисунок танца при необходимости. Учится было одно удовольствие!
							span 07.09.2016
						.review_item
							h5 Ира и Дима
							p Мы ставили свой свадебный танец под руководством Марии Махотько (СПб). Всего за 10 занятий Маше удалось сделать отличный танец под нашу любимую и сложную мелодию, спасибо ей огромное!
							span 07.09.2016
						.review_item
							h5 Ира и Дима
							p Мы ставили свой свадебный танец под руководством Марии Махотько (СПб). Всего за 10 занятий Маше удалось сделать отличный танец под нашу любимую и сложную мелодию, спасибо ей огромное! Мы выбирали среди многих школ и преподавателей и что удивительно, большинство отговаривали нас от мелодии под предлогом её сложности и нашего "нулевого" уровня. Маша занялась нами профессионально, довела дело до конца, в процессе постановке всегда прислушиваясь к нашим пожеланиям и корректируя рисунок танца при необходимости. Учится было одно удовольствие!
							span 07.09.2016
						.review_item
							h5 Ира и Дима
							p Маша занялась нами профессионально, довела дело до конца, в процессе постановке всегда прислушиваясь к нашим пожеланиям и корректируя рисунок танца при необходимости. Учится было одно удовольствие!
							span 07.09.2016
						.review_item
							h5 Ира и Дима
							p Мы ставили свой свадебный танец под руководством Марии Махотько (СПб). Всего за 10 занятий Маше удалось сделать отличный танец под нашу любимую и сложную мелодию, спасибо ей огромное!
							span 07.09.2016




