extends ../layout/main

block title
	|Услуги и цены :: Стоимость постановки свадебного танца :: Москва
block bgbody
	.service_bg.site_head
		.site_title
			span -в ритме любви-
			h1 Студия свадебного танца
		a(href="#").scrollb
			img.scroll(src="static/img/mo.png", alt="alt")
block content
	section.services.white
		.container
			.row
				.col-md-12
					h3 Услуги студии
					p.divide Внимание! В стоимость обучения уже включена аренда зала, подбор музыки и все необходимые консультации для комфортной постановки свадебного танца в студии "Ты со мной" в Москве
					.links_services
						a.bor(href="#") Смотреть основные услуги
						a.bor(href="#") Смотреть дополнительные услуги
					.basic_services
						.service_offer.bor.clearfix
							img(src="static/img/service1.png", alt="service")
							h5 Постановка свадебного танца
							p Длительность одного урока - #[strong 1 час/60мин]
							p Рекомендуемое количество уроков - #[strong 7-10 уроков]
							p.price_item #[strong Стоимость: ] 1700 ք (60 мин) с пары
							a.button.show_details1(href="#details1") Подробнее
							.details#details1.white-popup.mfp-hide
								.bor
									p Бесспорно, свадьба является самым важным и значимым событием в жизни каждого человека. Долгая подготовка, волнение – этот день должен быть идеальным, ведь по-другому никак. И вот, волнительный момент, кульминация вечера – СВАДЕБНЫЙ ТАНЕЦ!
									p В основу свадебного танца входят различные стили - бальные танцы, хастл, рок-н-ролл и т.д... Все что угодно, все, чтобы этот момент запомнился и оставил еще более яркий цвет этого события. Для кого-то танец - это просто "топтание" под музыку. Возможно!.. Но это не наша форма обучения.
									p Для нас танец - это отношения, это яркие образы - мужское и женское начало. Танец помогает раскрыть эти стороны - мужественность и женственность. Мы, помимо движений, шагов, которые можно без труда освоить, вкладываем в танец именно эти качества.
									p Огонь двух пылающих сердец, ода безудержной любви - можно придумать тысячи эпитетов свадебному танцу жениха и невесты, но никакими словами не передать, какой трепет и нежность испытывают сами молодожены в момент этого священнодействия.
									p Каким бы ни был свадебный танец, профессиональная постановка движений станет залогом того, что Ваша пара предстанет на вечере во всем своем блеске и красоте. Обаятельные жених и невеста, гармоничный танцевальный номер, великолепный фуршет - о таком свадебном торжестве гости еще долго будут вспоминать с самыми теплыми чувствами. Но чтобы все прошло именно так, к свадьбе принято готовиться заранее, и постановка свадебного танца тому не исключение.
									p Задача при этом состоит не только в создании гармоничного номера, но и в преодолении скованности и неловкости в движениях. Профессиональный тренер за несколько занятий поставит для Вас такой номер, от которого в восторг придут все гости вечера!
									p Она - грациозная, манящая, гибкая, словно львица. Он - уверенный в каждом движении, ловкий, обаятельный! Вы будете неотразимы. Свадебный танец подобен самой жизни - чтобы парить над землей, нужно двигаться легко, но уверенно. Мы поможем Вас вознестись в танце до небес!
									p Длительность одного урока - #[strong 1 час/60мин]
									p Рекомендуемое количество уроков - #[strong 7-10 уроков] ( #[a(href="#") Читать статью] )
									p.price_item #[strong Стоимость: ] 1700 ք (60 мин) с пары
						.service_offer.bor.clearfix
							img(src="static/img/service2.png", alt="service")
							h5 Постановка танца на годовщину юбилей
							p Длительность одного урока - #[strong 1 час/60мин]
							p Рекомендуемое количество уроков - #[strong 7-10 уроков]
							p.price_item #[strong Стоимость: ] 1700 ք (60 мин) с пары
							a.button.show_details2(href="#details2") Подробнее
							.details#details2.white-popup.mfp-hide
								.bor
									p Бесспорно, свадьба является самым важным и значимым событием в жизни каждого человека. Долгая подготовка, волнение – этот день должен быть идеальным, ведь по-другому никак. И вот, волнительный момент, кульминация вечера – СВАДЕБНЫЙ ТАНЕЦ!
									p В основу свадебного танца входят различные стили - бальные танцы, хастл, рок-н-ролл и т.д... Все что угодно, все, чтобы этот момент запомнился и оставил еще более яркий цвет этого события. Для кого-то танец - это просто "топтание" под музыку. Возможно!.. Но это не наша форма обучения.
									p Для нас танец - это отношения, это яркие образы - мужское и женское начало. Танец помогает раскрыть эти стороны - мужественность и женственность. Мы, помимо движений, шагов, которые можно без труда освоить, вкладываем в танец именно эти качества.
									p Огонь двух пылающих сердец, ода безудержной любви - можно придумать тысячи эпитетов свадебному танцу жениха и невесты, но никакими словами не передать, какой трепет и нежность испытывают сами молодожены в момент этого священнодействия.
									p Каким бы ни был свадебный танец, профессиональная постановка движений станет залогом того, что Ваша пара предстанет на вечере во всем своем блеске и красоте. Обаятельные жених и невеста, гармоничный танцевальный номер, великолепный фуршет - о таком свадебном торжестве гости еще долго будут вспоминать с самыми теплыми чувствами. Но чтобы все прошло именно так, к свадьбе принято готовиться заранее, и постановка свадебного танца тому не исключение.
									p Задача при этом состоит не только в создании гармоничного номера, но и в преодолении скованности и неловкости в движениях. Профессиональный тренер за несколько занятий поставит для Вас такой номер, от которого в восторг придут все гости вечера!
									p Она - грациозная, манящая, гибкая, словно львица. Он - уверенный в каждом движении, ловкий, обаятельный! Вы будете неотразимы. Свадебный танец подобен самой жизни - чтобы парить над землей, нужно двигаться легко, но уверенно. Мы поможем Вас вознестись в танце до небес!
									p Длительность одного урока - #[strong 1 час/60мин]
									p Рекомендуемое количество уроков - #[strong 7-10 уроков]
									p.price_item #[strong Стоимость: ] 1700 ք (60 мин) с пары
						.service_offer.bor.clearfix
							img(src="static/img/service3.png", alt="service")
							h5 Постановка свадебного танца
							p Длительность одного урока - #[strong 1 час/60мин]
							p Рекомендуемое количество уроков - #[strong 7-10 уроков]
							p.price_item #[strong Стоимость: ] 1700 ք (60 мин) с пары
							a.button.show_details3(href="#details3") Подробнее
							.details#details3.white-popup.mfp-hide
								.bor
									p Бесспорно, свадьба является самым важным и значимым событием в жизни каждого человека. Долгая подготовка, волнение – этот день должен быть идеальным, ведь по-другому никак. И вот, волнительный момент, кульминация вечера – СВАДЕБНЫЙ ТАНЕЦ!
									p В основу свадебного танца входят различные стили - бальные танцы, хастл, рок-н-ролл и т.д... Все что угодно, все, чтобы этот момент запомнился и оставил еще более яркий цвет этого события. Для кого-то танец - это просто "топтание" под музыку. Возможно!.. Но это не наша форма обучения.
									p Для нас танец - это отношения, это яркие образы - мужское и женское начало. Танец помогает раскрыть эти стороны - мужественность и женственность. Мы, помимо движений, шагов, которые можно без труда освоить, вкладываем в танец именно эти качества.
									p Огонь двух пылающих сердец, ода безудержной любви - можно придумать тысячи эпитетов свадебному танцу жениха и невесты, но никакими словами не передать, какой трепет и нежность испытывают сами молодожены в момент этого священнодействия.
									p Каким бы ни был свадебный танец, профессиональная постановка движений станет залогом того, что Ваша пара предстанет на вечере во всем своем блеске и красоте. Обаятельные жених и невеста, гармоничный танцевальный номер, великолепный фуршет - о таком свадебном торжестве гости еще долго будут вспоминать с самыми теплыми чувствами. Но чтобы все прошло именно так, к свадьбе принято готовиться заранее, и постановка свадебного танца тому не исключение.
									p Длительность одного урока - #[strong 1 час/60мин]
									p Рекомендуемое количество уроков - #[strong 7-10 уроков]
									p.price_item #[strong Стоимость: ] 1700 ք (60 мин) с пары
						.service_offer.bor.clearfix
							img(src="static/img/service4.png", alt="service")
							h5 Постановка свадебного танца
							p Длительность одного урока - #[strong 1 час/60мин]
							p Рекомендуемое количество уроков - #[strong 7-10 уроков]
							p.price_item #[strong Стоимость: ] 1700 ք (60 мин) с пары
							a.button.show_details4(href="#details4") Подробнее
							.details#details4.white-popup.mfp-hide
								.bor
									p Бесспорно, свадьба является самым важным и значимым событием в жизни каждого человека. Долгая подготовка, волнение – этот день должен быть идеальным, ведь по-другому никак. И вот, волнительный момент, кульминация вечера – СВАДЕБНЫЙ ТАНЕЦ!
									p В основу свадебного танца входят различные стили - бальные танцы, хастл, рок-н-ролл и т.д... Все что угодно, все, чтобы этот момент запомнился и оставил еще более яркий цвет этого события. Для кого-то танец - это просто "топтание" под музыку. Возможно!.. Но это не наша форма обучения.
									p Для нас танец - это отношения, это яркие образы - мужское и женское начало. Танец помогает раскрыть эти стороны - мужественность и женственность. Мы, помимо движений, шагов, которые можно без труда освоить, вкладываем в танец именно эти качества.
									p Огонь двух пылающих сердец, ода безудержной любви - можно придумать тысячи эпитетов свадебному танцу жениха и невесты, но никакими словами не передать, какой трепет и нежность испытывают сами молодожены в момент этого священнодействия.
									p Каким бы ни был свадебный танец, профессиональная постановка движений станет залогом того, что Ваша пара предстанет на вечере во всем своем блеске и красоте. Обаятельные жених и невеста, гармоничный танцевальный номер, великолепный фуршет - о таком свадебном торжестве гости еще долго будут вспоминать с самыми теплыми чувствами. Но чтобы все прошло именно так, к свадьбе принято готовиться заранее, и постановка свадебного танца тому не исключение.
									p Задача при этом состоит не только в создании гармоничного номера, но и в преодолении скованности и неловкости в движениях. Профессиональный тренер за несколько занятий поставит для Вас такой номер, от которого в восторг придут все гости вечера!
									p Она - грациозная, манящая, гибкая, словно львица. Он - уверенный в каждом движении, ловкий, обаятельный! Вы будете неотразимы. Свадебный танец подобен самой жизни - чтобы парить над землей, нужно двигаться легко, но уверенно. Мы поможем Вас вознестись в танце до небес!
									p Длительность одного урока - #[strong 1 час/60мин]
									p Рекомендуемое количество уроков - #[strong 7-10 уроков] ( #[a(href="#") Читать статью] )
									p.price_item #[strong Стоимость: ] 1700 ք (60 мин) с пары
						.service_offer.bor.clearfix
							img(src="static/img/service5.png", alt="service")
							h5 Постановка свадебного танца
							p Длительность одного урока - #[strong 1 час/60мин]
							p Рекомендуемое количество уроков - #[strong 7-10 уроков]
							p.price_item #[strong Стоимость: ] 1700 ք (60 мин) с пары
							a.button.show_details5(href="#details5") Подробнее
							.details#details5.white-popup.mfp-hide
								.bor
									p Бесспорно, свадьба является самым важным и значимым событием в жизни каждого человека. Долгая подготовка, волнение – этот день должен быть идеальным, ведь по-другому никак. И вот, волнительный момент, кульминация вечера – СВАДЕБНЫЙ ТАНЕЦ!
									p В основу свадебного танца входят различные стили - бальные танцы, хастл, рок-н-ролл и т.д... Все что угодно, все, чтобы этот момент запомнился и оставил еще более яркий цвет этого события. Для кого-то танец - это просто "топтание" под музыку. Возможно!.. Но это не наша форма обучения.
									p Длительность одного урока - #[strong 1 час/60мин]
									p Рекомендуемое количество уроков - #[strong 7-10 уроков]
									p.price_item #[strong Стоимость: ] 1700 ք (60 мин) с пары
									iframe(width="400" height="250" src="https://www.youtube.com/embed/sCrVLoHlsqs" frameborder="0" allowfullscreen)
						.service_offer.bor.clearfix
							img(src="static/img/service6.png", alt="service")
							h5 Постановка свадебного танца
							p Длительность одного урока - #[strong 1 час/60мин]
							p Рекомендуемое количество уроков - #[strong 7-10 уроков]
							p.price_item #[strong Стоимость: ] 1700 ք (60 мин) с пары
							a.button.show_details6(href="#details6") Подробнее
							.details#details6.white-popup.mfp-hide
								.bor
									p Каким бы ни был свадебный танец, профессиональная постановка движений станет залогом того, что Ваша пара предстанет на вечере во всем своем блеске и красоте. Обаятельные жених и невеста, гармоничный танцевальный номер, великолепный фуршет - о таком свадебном торжестве гости еще долго будут вспоминать с самыми теплыми чувствами. Но чтобы все прошло именно так, к свадьбе принято готовиться заранее, и постановка свадебного танца тому не исключение.
									p Задача при этом состоит не только в создании гармоничного номера, но и в преодолении скованности и неловкости в движениях. Профессиональный тренер за несколько занятий поставит для Вас такой номер, от которого в восторг придут все гости вечера!
									p Она - грациозная, манящая, гибкая, словно львица. Он - уверенный в каждом движении, ловкий, обаятельный! Вы будете неотразимы. Свадебный танец подобен самой жизни - чтобы парить над землей, нужно двигаться легко, но уверенно. Мы поможем Вас вознестись в танце до небес!
									p Длительность одного урока - #[strong 1 час/60мин]
									p Рекомендуемое количество уроков - #[strong 7-10 уроков] ( #[a(href="#") Читать статью] )
									p.price_item #[strong Стоимость: ] 1700 ք (60 мин) с пары
									iframe(width="400" height="250" src="https://www.youtube.com/embed/sCrVLoHlsqs" frameborder="0" allowfullscreen)
						.service_offer.bor.clearfix
							img(src="static/img/service6.png", alt="service")
							h5 Экспресс постановка свадебного танца
							p Длительность одного урока - #[strong 3 часа подряд (интенсив)]
							p.price_item #[strong Стоимость: ] 6500 ք с пары
							a.button.show_details7(href="#details7") Подробнее
							.details#details7.white-popup.mfp-hide
								.bor
									p Бесспорно, свадьба является самым важным и значимым событием в жизни каждого человека. Долгая подготовка, волнение – этот день должен быть идеальным, ведь по-другому никак. И вот, волнительный момент, кульминация вечера – СВАДЕБНЫЙ ТАНЕЦ!
									p В основу свадебного танца входят различные стили - бальные танцы, хастл, рок-н-ролл и т.д... Все что угодно, все, чтобы этот момент запомнился и оставил еще более яркий цвет этого события. Для кого-то танец - это просто "топтание" под музыку. Возможно!.. Но это не наша форма обучения.
									p Для нас танец - это отношения, это яркие образы - мужское и женское начало. Танец помогает раскрыть эти стороны - мужественность и женственность. Мы, помимо движений, шагов, которые можно без труда освоить, вкладываем в танец именно эти качества.
									p Огонь двух пылающих сердец, ода безудержной любви - можно придумать тысячи эпитетов свадебному танцу жениха и невесты, но никакими словами не передать, какой трепет и нежность испытывают сами молодожены в момент этого священнодействия.
									p Каким бы ни был свадебный танец, профессиональная постановка движений станет залогом того, что Ваша пара предстанет на вечере во всем своем блеске и красоте. Обаятельные жених и невеста, гармоничный танцевальный номер, великолепный фуршет - о таком свадебном торжестве гости еще долго будут вспоминать с самыми теплыми чувствами. Но чтобы все прошло именно так, к свадьбе принято готовиться заранее, и постановка свадебного танца тому не исключение.
									p Задача при этом состоит не только в создании гармоничного номера, но и в преодолении скованности и неловкости в движениях. Профессиональный тренер за несколько занятий поставит для Вас такой номер, от которого в восторг придут все гости вечера!
									p Она - грациозная, манящая, гибкая, словно львица. Он - уверенный в каждом движении, ловкий, обаятельный! Вы будете неотразимы. Свадебный танец подобен самой жизни - чтобы парить над землей, нужно двигаться легко, но уверенно. Мы поможем Вас вознестись в танце до небес!
									p Длительность одного урока - #[strong 1 час/60мин]
									p Рекомендуемое количество уроков - #[strong 7-10 уроков]
									p.price_item #[strong Стоимость: ] 1700 ք (60 мин) с пары
	section.about_payment
		.container
			.row
				.col-md-12
					.payment_details
						.col-md-6.col-sm-6.col.xs-12
							a.pay_det(href="#payment_details__info") Все подробности о правилах оплаты уроков
							#payment_details__info.white-popup.mfp-hide
								p Первый урок. Как правило он самый важный и волнительный. На нем мы с Вами обсуждаем Ваш танец, делимся своими мыслями, выбираем музыку, знакомимся с основными фигурами танца. Пытаемся понять друг друга и на сколько легко нам работать вместе. Это очень важно, ведь далее у нас с Вами предстоит плодотворная работа - создание Вашего индивидуального Свадебного танца.
								p Первый урок. Как правило он самый важный и волнительный. На нем мы с Вами обсуждаем Ваш танец, делимся своими мыслями, выбираем музыку, знакомимся с основными фигурами танца. Пытаемся понять друг друга и на сколько легко нам работать вместе. Это очень важно, ведь далее у нас с Вами предстоит плодотворная работа - создание Вашего индивидуального Свадебного танца.
						.col-md-6.col-sm-6.col.xs-12
							.payment_details_descr
								h5 Как проходят занятия?
								p Первый урок. Как правило он самый важный и волнительный. На нем мы с Вами обсуждаем Ваш танец, делимся своими мыслями, выбираем музыку, знакомимся с основными фигурами танца. Пытаемся понять друг друга и на сколько легко нам работать вместе. Это очень важно, ведь далее у нас с Вами предстоит плодотворная работа - создание Вашего индивидуального Свадебного танца.
	.additional_services
		.container
			.row
				.col-md-12
					h3 Дополнительные услуги студии
					p.divide Наши лучшие предложения. Выберите себе услугу по вкусу
					.links_services
						a.bor(href="#") Смотреть основные услуги
					.add_services_list
						.service_offer.bor.clearfix
							img(src="static/img/add_ser1.png", alt="service")
							h5 Клубные карты
							p.bold (*карта действует только в #[a(href="#") штабе студии])
							p.price_item #[strong Стоимость: ] узнайте подробнее
							a.button.show_details8(href="#details8") Подробнее
							.details#details8.white-popup.mfp-hide
								.bor
									p Бесспорно, свадьба является самым важным и значимым событием в жизни каждого человека. Долгая подготовка, волнение – этот день должен быть идеальным, ведь по-другому никак. И вот, волнительный момент, кульминация вечера – СВАДЕБНЫЙ ТАНЕЦ!
									p В основу свадебного танца входят различные стили - бальные танцы, хастл, рок-н-ролл и т.д... Все что угодно, все, чтобы этот момент запомнился и оставил еще более яркий цвет этого события. Для кого-то танец - это просто "топтание" под музыку. Возможно!.. Но это не наша форма обучения.
									p Для нас танец - это отношения, это яркие образы - мужское и женское начало. Танец помогает раскрыть эти стороны - мужественность и женственность. Мы, помимо движений, шагов, которые можно без труда освоить, вкладываем в танец именно эти качества.
									p Огонь двух пылающих сердец, ода безудержной любви - можно придумать тысячи эпитетов свадебному танцу жениха и невесты, но никакими словами не передать, какой трепет и нежность испытывают сами молодожены в момент этого священнодействия.
						.service_offer.bor.clearfix
							img(src="static/img/service8.png", alt="service")
							h5 Танцевальный мастер-класс
							p Какие танцы могут быть использованы для мастер-класса - #[strong классические(вальсб фокстрот, танго), латина (сальса, бачата, ча-ча-ча)...]
							p.price_item #[strong Стоимость: ] 6000 ք (60 мин) за выход
							a.button.show_details9(href="#details9") Подробнее
							.details#details9.white-popup.mfp-hide
								.bor
									form.master_class
										label(for="mname") Имя:
										input#mname(type="text"  placeholder="Введите имя")
										label(for="mmail") Email:
										input#mmail(type="email" placeholder="Введите адрес электронной почты")
										label(for="mmess") Сообщение:
										textarea#mmess(type="text" name="textarea" placeholder="Введите сообщение")
										label(for="mdate") Дата мероприятия
										input#mdate(type="text" placeholder="Введите дату мероприятия")
										.field
											input#mk1(type="checkbox")
											label(for="mk1") Один мастер-класс
										.field
											input#mk2(type="checkbox")
											label(for="mk2") Два мастер-класса
										button.button.button_mk Отправить
						.service_offer.bor.clearfix
							img(src="static/img/add_ser2.png", alt="service")
							h5 Эксклюзивные слайд-шоу
							p.bold Данные слайд-шоу изготавливаются только в студии свадебного танца "Ты со мной"
							p.price_item #[strong Стоимость: ] от 5000 ք
							a.button(href="#") Подробнее
							a.button.show_details10(href="#details10") Подробнее
							.details#details10.white-popup.mfp-hide
								.bor
									p Огонь двух пылающих сердец, ода безудержной любви - можно придумать тысячи эпитетов свадебному танцу жениха и невесты, но никакими словами не передать, какой трепет и нежность испытывают сами молодожены в момент этого священнодействия.
									p.bold Данные слайд-шоу изготавливаются только в студии свадебного танца "Ты со мной"
									p.price_item #[strong Стоимость: ] от 5000 ք
									iframe(width="300" height="210" src="https://www.youtube.com/embed/ha6QPQBFhl0" frameborder="0" allowfullscreen)
									iframe(width="300" height="210" src="https://www.youtube.com/embed/ha6QPQBFhl0" frameborder="0" allowfullscreen)