extends ../layout/main

block title
	|Выставка   Свадебная выставка в гостином дворе   Студия Ты со мной
block bgbody
	.show_bg.site_head
		.site_title
			span -в ритме любви-
			h1 Студия свадебного танца
		a(href="#").scrollb
			img.scroll(src="static/img/mo.png", alt="alt")
block content
	section.show.white
		.container
			.row
				.col-md-12
					h3 Свадебная выставка
					.li_pages
						a(href="#") Главная  
						a(href="#")  -  О студии  
						span  -  Выставка
					p Свадебная выставка " Russian wedding fair 2013" - это уникальное событие в мире свадебной индустрии,которое состоялось с 22 по 24 марта 2013 года в Москве, в гостином дворе. Потрясающая организация,много полезной информации и лучшие специалисты постарались сделать все, чтобы Ваша сказка превратилась в реальность. Наша студия так же принимала участие в этом значимом событии, подарила мастер-класс и предоставила подарочные сертификаты на бесплатную постановку свадебного танца. Видеоотчет с выставки ниже. Танцуйте в ритме любви!
					iframe(width="560" height="315" src="https://www.youtube.com/embed/_Oy-KKZ2X6E" frameborder="0" allowfullscreen)



