extends ../layout/main

block title
	| Хореографы по свадебному танцу
block bgbody
	.teachers_bg.site_head
		.site_title
			span -в ритме любви-
			h1 Студия свадебного танца
		a(href="#").scrollb
			img.scroll(src="static/img/mo.png", alt="alt")
block content
	section.studia_teachers.white
		.container
			.row
				.col-md-12
					h3 Хореографы по свадебному танцу
					.li_pages
						a(href="#") Главная 
						span  - Хореографы
					.teachers_list.SP
						.teacher
							img(src="static/img/teachers/1.png", alt="alt")
							a(href="#") Александр Логинов
							h6 Руководитель проекта "Ты со мной"
							span Педагог по свадебному танцу
							ol.achievements
								li Танцевальный стаж: более 12 лет
								li Опыт работы в качестве хореографа: 7лет
								li Опыт постановок свадебных танцев: 5лет
						.teacher
							img(src="static/img/teachers/2.png", alt="alt")
							a(href="#") Кристина Плещева
							span Педагог по свадебному танцу
							ul.achievements
								li Танцевальный стаж: более 12 лет
								li Опыт работы в качестве хореографа: 7лет
								li Опыт постановок свадебных танцев: 5лет
						.teacher
							img(src="static/img/teachers/3.png", alt="alt")
							a(href="#") Дарья Кравченко
							span Педагог по свадебному танцу
							ul.achievements
								li Танцевальный стаж: более 12 лет
								li Опыт работы в качестве хореографа: 7лет
								li Опыт постановок свадебных танцев: 5лет
						.teacher
							img(src="static/img/teachers/1.png", alt="alt")
							a(href="#") Александр Логинов
							h6 Руководитель проекта "Ты со мной"
							span Педагог по свадебному танцу
							ol.achievements
								li Танцевальный стаж: более 12 лет
								li Опыт работы в качестве хореографа: 7лет
								li Опыт постановок свадебных танцев: 5лет
						.teacher
							img(src="static/img/teachers/2.png", alt="alt")
							a(href="#") Кристина Плещева
							span Педагог по свадебному танцу
							ul.achievements
								li Танцевальный стаж: более 12 лет
								li Опыт работы в качестве хореографа: 7лет
								li Опыт постановок свадебных танцев: 5лет
						.teacher
							img(src="static/img/teachers/3.png", alt="alt")
							a(href="#") Дарья Кравченко
							span Педагог по свадебному танцу
							ul.achievements
								li Танцевальный стаж: более 12 лет
								li Опыт работы в качестве хореографа: 7лет
								li Опыт постановок свадебных танцев: 5лет
					p Команда хореографов - это ценность и гордость студии свадебного танца "Ты со мной". 
					p Все наши педагоги являются бывшими и действующими танцорами различных стилей и направлений, победителями и призерами многих Российских и  Международных соревнований и фестивалей и разумеется имеют огромный опыт в работе с молодоженами. 
					p Индивидуальный подход к каждой паре - вот то кредо , которое выделяет наших педагогов! Обучение проходит в легкой атмосфере. Наши мастера-хореографы всегда посоветуют и подскажут молодоженам в любой ситуации. 
					p Свадебный танец - это танец в ритме любви (С)
					.t_link_wrap
						a(href="#").t_link Педагог по свадебному танцу в Санкт-Петербурге
						a(href="#").t_link Хореограф по свадебному танцу Санкт-Петербург
						a(href="#").t_link Постановщик свадебного танца


