extends ../layout/main

block title
	|Вакансии в студии свадебного танца Ты со мной
block bgbody
	.vacancy_bg.site_head
		.site_title
			span -в ритме любви-
			h1 Студия свадебного танца
		a(href="#").scrollb
			img.scroll(src="static/img/mo.png", alt="alt")
block content
	section.vacancy.white
		.container
			.row
				.col-md-12
					h3 Несколько слов о подготовке свадебного танца
					.li_pages
						a(href="#") Главная  
						a(href="#")  -  О студии  
						span -  Вакансии студии
					.vac.divide
						h5 Педагог по свадебному танцу
						p Ты молодой, энергичный и опытный преподаватель? Тебе интересно творчество и у тебя много идей? Тогда мы ждем тебя!
						br
						p Кто нам нужен: Нам нужен хореограф, имеющий хороший опыт в постановке номеров. Человек, которому близка идея проекта.
						p Требования: ответственность, пунктуальность, инициативность. Опыт преподавательской работы обязателен. Условия обсуждаются индивидуально.
						p #[strong Координаты:] 8(495) 740 - 35 - 68
						p #[strong Почта (для резюме): ] tisomnoy@mail.ru
						p P.S. Интерес, желание работать и развиваться в сфере свадебного танца ОБЯЗАТЕЛЬНО!
					.vac
						h5 Свадебный танец в Вашем городе!
						p Приглашаем к сотрудничеству региональных представителей и педагогов по свадебному танцу в регионах России. Если Вам интересен проект "Ты со мной" и Вы хотите стать командой этого проекта в Вашем городе, например хореографы по свадебному танцу в Нижнем Новгороде, Казани, Красноярске,Новосибирске,Екатеринбурге,Самаре,Омске, то напишите нам. Давайте делать проект вместе!
						br
						p О всех вопросах и предложениях
						p Единый телефон по России: 8 800 700-35-68
						p Почта для предложений :tisomnoy@mail.ru , с пометкой "Региональное предложение"