extends ../layout/main

block title
	|Видео свадебного танца  Смотреть видео первого танца  Студия Ты со мной
block bgbody
	.video_bg.site_head
		.site_title
			span -в ритме любви-
			h1 Студия свадебного танца
		a(href="#").scrollb
			img.scroll(src="static/img/mo.png", alt="alt")
block content
	section.video.white
		.container
			.row
				.col-md-12
					h3 Видео свадебного танца
					.li_pages
						a(href="#") Главная 
						span - Видео свадебного танца
					a.pink(href="#") Краткое описание танцев
					p Свадебный вальс? Нет,лучше Свадебная румба... а может Сальса? Укрепиться в выборе первого свадебного танца Вам поможет наша подборка-видео лучших и оригинальных свадебных танцев жениха и невесты. Наслаждайтесь. Желаем Вам приятного просмотра!
					p • Еще больше видео свадебных танцев от нашей студии, Вы сможете найти на нашем официальном канале на #[a.pink(href="https://www.youtube.com/user/tisomnoy") ©YOUTUBE.COM] - заходите! ;)
					.video_list
						.video_item
							h5 Видео от студии "Ты со мной"
							img(src="static/img/v1.png", alt="alt")
							.about_video
								h6 Видео студии "Ты со мной"
								p Представляем Вам видео от нашей студии (промо, постановки и т.д.)
								button Подробнее
						.video_item
							h5 Медленный свадебный вальс
							img(src="static/img/v2.png", alt="alt")
							.about_video
								h6 Медленный вальс
								p Давно мечтали научиться танцевать вальс? Тогда классический английский медленный вальс для Вас. Медленный вальс - пожалуй самый распространенный танец, исполняемый на свадьбе.
								button Подробнее
						.video_item
							h5 Свадебное танго
							img(src="static/img/v3.png", alt="alt")
							.about_video
								h6 Свадебное танго
								p Страсть, огонь, острота - это Ваши чувтва?Тогда танец танго на свадьбе - это Ваш свадебный танец,Ваше танго!
								button Подробнее
						.video_item
							h5 Видео от студии "Ты со мной"
							img(src="static/img/v1.png", alt="alt")
							.about_video
								h6 Видео студии "Ты со мной"
								p Представляем Вам видео от нашей студии (промо, постановки и т.д.)
								button Подробнее
						.video_item
							h5 Медленный свадебный вальс
							img(src="static/img/v2.png", alt="alt")
							.about_video
								h6 Медленный вальс
								p Давно мечтали научиться танцевать вальс? Тогда классический английский медленный вальс для Вас. Медленный вальс - пожалуй самый распространенный танец, исполняемый на свадьбе.
								button Подробнее
						.video_item
							h5 Свадебное танго
							img(src="static/img/v3.png", alt="alt")
							.about_video
								h6 Свадебное танго
								p Страсть, огонь, острота - это Ваши чувтва?Тогда танец танго на свадьбе - это Ваш свадебный танец,Ваше танго!
								button Подробнее
