@media all and (max-width 1200px)
	.couple_photo
		h3
			&:before
				display none
			&:after
				display none
		ul
			li
				margin-top 0
		img
			max-width 400px
			width 90%
			display block
			margin 0 auto
		span.gr
			margin-left 15px
	.bottom_line .top_mnu li
		margin-right 4%
	.contacts .map
		margin 20px 0 45px 0
		width 430px
		iframe
			width 410px
	#new_review label, #ask_qwest label, #message label, #new_review input, #ask_qwest input, #message input
		width 85%
	#new_review textarea, #ask_qwest textarea, #message textarea
		width 85%
	.loveis
		.stories_list
			padding 10px
			.storie
				width 22%
				img
					width 200px
					height 280px
	.news,.merried
		.li_pages
			margin-left 40%
	.photo .galery
		padding 10px
		img 
			margin: 0 0 15px 15px
	.video .video_list .video_item
		margin 0 20px 20px 0
	.portfolio_video
		iframe
			width 45%
			height 250px
	#adv_list
		.advantage
			width 25%
			img
				width 100%
	.video_dance iframe
		display block
		margin 0 auto 20px
	.video_dance a
		left 10px
	.address
		.li_pages
			margin-left 37%
	.music_listen
		.li_pages
			margin-left 38%
	.bottom_line
		.insert_mnu
			right 20px
			width 735px
@media all and (max-width 1030px)
	.loveis_1 .li_pages
		margin-left 30%
	#video_slide
		width 80%
		display block
		margin 0 auto
		padding 30px
	.advantages
		h2
			left 200px
			
@media all and (max-width 997px)
	.bottom_line .top_mnu li
		margin-right 2%
	.middle_line .phone_num
		font-size 16px
		margin-right 25px
	.studia_teachers
		margin-top 80px
		h3
			font-size 24px
			&:after
				width 50%
				margin 10px auto
	.contacts
		.map
			width 350px
			iframe
				width 330px
		h3
			font-size 22px
			text-align center
			&:after
				margin 10px auto 0
		#message
			padding-left 25px
		h6
			margin-left 25px
			font-size 18px
		.write
			margin-left 25px
	.sl3
		span:nth-child(1)
			left: 10%
			top: 98px
			font-size 40px
		span:nth-child(2)
			left 10%
			top 151px
			font-size 22px
	.sl4
		span:nth-child(1)
			left 354px
			top: 138px
			font-size 14px
		span:nth-child(2)
			left 5%
			top 211px
			font-size 25px
		span:nth-child(3)
			left 5%
			top 151px
			font-size 50px
	.service_offer
		width 455px



@media all and (max-width 992px)
	.li_pages
		margin-left 42%
	.but_review, .but_applic2
		width 235px
		margin-left 10%
	.sl1
		span:nth-child(1)
			left: 402px
			top: 98px
		span:nth-child(2)
			left 73px
			top 111px
			font-size 52px
	.b2
		left 50%
	.about_payment
		padding 5px
		.payment_details a
			padding 5px
	.music_styles .m_style
		padding 0 10px
		width  260px
		line-height 1.3
	.img_divide
		height 250px
		padding-top 60px
	.music h4::after
		height 350%
	.teachers_photo
		width 100%
	.ts_buttons
		padding 0
	span.group
		top 147px
		left 52px
	.about_lessons .about img
		width 100%
	.about_lessons .about p
		height 120px
	.couple_photo
		ul
			li
				font-size 14px
				line-height 1.5
		.purp
			margin-top 5px
	.statistic_item
		margin-bottom 25px

	.statistic
		padding-bottom 0
		img
			margin-left 38%
	.dance_staging h3
		font-size 30px
	.show_lines 
		width 100%
	.music_listen
		.record
			margin 25px
			audio
				width 100%
@media all and (max-width 975px)
	.loveis
		.stories_list
			padding 10px
			.storie
				width 45%
				margin 30px 1.5%
				img
					width 250px
					height 330px
	.merried
		.li_pages
			margin-left 33%
	#video_slide
		iframe
			width 500px
			height 300px
.music_listen
	.li_pages
		margin-left 35%


@media all and (max-width 805px)
	.top_line
		padding 10px 0
		height 40px
		img
			display none
	.dropdown
		right 20px
		top 50px
	.middle_line .phone
		margin-right 0
	.scrollt
		right 3%
		bottom 12%
		img
			width 40px
	#new_review, #ask_qwest, #message
		width 95%
	#application, #application_wd, #application2 
		width 95%
	#application .appl_form input[type="text"], #application_wd .appl_form input[type="text"], #application2 .appl_form input[type="text"], #application .appl_form textarea, #application_wd .appl_form textarea, #application2 .appl_form textarea
		width 92%
		margin-left 10px
	#application .appl_form label, #application_wd .appl_form label, #application2 .appl_form label
		margin-left 10px
	.menu_toggle
		display block
		position absolute
		top 5px
		right 10px
		z-index 200
	.top_page
		top 57px
	.middle_line
		padding-right 10px
		.phone
			float left
	.top_mnu
		position absolute
		display none
		background-color RGBA(151,47,147,.85)
		width 100%
		left 0
		top 0
		z-index 100
		li
			margin-bottom 5px
			text-align center
			width 30%
	.bottom_line
		height 71px
		.insert_mnu
			width 100%
			left 0
			top 127px
			li
				margin-bottom 5px


@media all and (max-width 770px)
	footer
		.logo
			width 20%
		h6
			margin 0
		p
			margin 0
		.fastlink
			li
				margin-top 0
	.contacts
		.map
			width 100%
			margin-bottom 5px
			iframe
				width 99%
		h6
			margin-left 20%
		.write
			margin 0 auto
	.contacts_region
		.soc_link
			margin-top 60px
			h3
				text-align center
				&:after
					margin 10px auto
			ul
				text-align center
	.vacancy, .show, .news
		.li_pages
			margin-left 35%
	.loveis_1
		img
			display block
			margin 0 auto
	.about_payment
		.payment_details a
			top 20px
			left 250px
	.music h4::after
		display none
	.teachers_photo
		width 60%
		display block
		margin 0 auto
	.teacher_single .li_pages
		margin-left 30%
		line-height 1.3
	.about_dance_styles
		.button
			width 300px
			display block
			margin 20px auto
	.about_lessons .about img
		width 255px
	.about_lessons .about
		margin 0 auto 15px 
		p
			height 107px
	section
		margin-bottom 5px
	.fastlink
		padding-left 0
		margin-top 20px
	.contlink
		margin-top 20px
	.middle_line
		padding-left 0
		.logo
			margin-right 25px
	.bottom_line
		.insert_mnu
			background-image none
			background-color: rgba(255, 255, 255, .9)
			padding 2px
			height 140px
			li
				margin-bottom 0
@media all and (max-width 750px)
	.video_dance h2
		margin-bottom 0
	.middle_line
		.phone_num
			font-size 14px
			margin-right 0
			margin-left 15px
	.loveis_1 .li_pages
		margin-left 25%
	.loveis_1 h3 
		font-size 24px
		&:after
			margin 10px auto
	.sl1
		span:nth-child(1)
			left: 300px
			top: 98px
		span:nth-child(2)
			left 30px
			font-size 45px
	.read .artical_list::after
		border none
	.portfolio_video
		iframe
			height 200px
@media all and (max-width 740px)
	.read .artical_list .artical
		display block
		margin 0 auto
	.single_article .li_pages
		margin-left 15%
	.wedding_dance_award_2015 .li_pages, .wedding_dance_award_2016 .li_pages
		margin-left: 25%
	.about
		img
			display block
			margin 10px auto
	.video
		.video_list
			.video_item
				display block
				margin 0 auto
	.video_style_dance
		.tran_grad
			margin-left 10%
	.music_styles .m_style
		display block
		margin 0 auto 10px
		padding 10px 20px
	.img_divide
		height 200px
		padding-top 40px
		.on_img
			font-size 20px
	.address
		.li_pages
			margin-left 32%
			margin-bottom 20px

@media all and (max-width 640px)

	.middle_line
		padding-left 10px
	.teachers_list
		margin 20px
	.li_pages
		margin-left 39%
	.but_review, .but_applic2
		width 185px
		margin-left 12%
		padding 10px 15px
	.show iframe
		width 90%
		height auto
	.sl1
		span:nth-child(1)
			left: 220px
			top: 157px
		span:nth-child(2)
			top 170px
			font-size 40px
		span:nth-child(3)
			top 215px
			left 45px
	.sl2
		position relative
		span:nth-child(1)
			left 10%
			top 130px
		span:nth-child(2)
			font-size 55px
			left: 10%
			top 150px
		span:nth-child(3)
			left 10%
			top 220px
	.sl3
		span:nth-child(1)
			left: 10%
			top: 158px
			font-size 26px
		span:nth-child(2)
			left 10%
			top 191px
			font-size 22px
	.merried
		.li_pages
			margin-left 25%
	.about h2
		font-size 25px
	.about iframe
		width 90%
		height 250px
	h3
		font-size 40px
		font-weight 400
	#video_slide
		iframe
			width 400px
			height 250px
	.portfolio_video
		iframe
			height 300px
			width 100%
	#adv_list
		border none
		padding 10px
		.advantage
			height 100%
			img
				width 60%
				display block
				margin 0 auto
	.advantages
		h2
			position static
			text-align center
	.question .quest field
		display block
		margin 10px auto
		input[type="text"]
			width 69%
			margin 10px
		label
			margin 10px
.music_listen
	.li_pages
		margin-left 30%


@media all and (max-width 620px)
	.t_link_wrap
		flex-direction column
	.studia_teachers
		margin-top: 119px
	.site_title h1
		font-size 28px


@media all and (max-width 595px)
	#news_slide img
		height 280px
	.about_payment
		.payment_details a
			top 20px
			left 20px
		.payment_details_descr
			margin-top 40px
	#adv_list
		.advantage
			img
				width 65%
	.question .quest field
		input[type="text"]
			width 50%
		label
			width 90px
		textarea
			width 50%

@media all and (max-width 565px)
	.but_review, .but_applic2
		width 185px
		margin-left 7%
		padding 10px 15px
	.vacancy,.show,.news
		.li_pages
			margin-left 28%
	.loveis_1 .li_pages
		margin-left 15%
	.sl1
		span:nth-child(1)
			left: 176px
			top: 214px
			font-size 18px
		span:nth-child(2)
			top 230px
			font-size 27px
		span:nth-child(3)
			top 256px
			left 45px
	.sl4
		span:nth-child(1)
			left 324px
			top: 178px
			font-size 14px
		span:nth-child(2)
			left 5%
			top 241px
			font-size 18px
		span:nth-child(3)
			left 5%
			top 201px
			font-size 30px
	.faq .li_pages
		margin-left 35%
	.single_article .li_pages
		margin-left 0
	.wedding_dance_award .li_pages
		margin-left 30%
	.wedding_dance_award_2016,
	.wedding_dance_award_2015
		iframe
			width 90%
			height 300px
	.wedding_dance_award_2015 .purp_but
		margin-left 15%
	.video_style_dance
		.tran_grad
			margin-left 15px
	.teacher_single .li_pages
		margin-left 25%
	#adv_list
		.advantage
			img
				width 70%
@media all and (max-width 550px)
	.links_services a
		width 70%
		margin 10px auto
	.but_appl[href="#application"]
		display none
	.top_line .our_links li a
		padding: 1px 9px
	.middle_line
		.logo
			padding-top 8px
			height 52px
	.middle_line
		height 56px
		.phone_num
			display block
		.free
			display none
	h3
		margin 0
		&:after
			margin 5px auto
	.vacancy h3
		font-size 24px
	.wedding_dance_award .winners a img
		width 90%
		margin-bottom 20px
	.about .link_youtube
		margin-left 20px
	.teacher_portfolio .portfolio_photo
		justify-content center
	.portfolio_video
		iframe
			height 250px
			width 100%
	.top_mnu
		li
			width 45%
	.bottom_line
		.insert_mnu
			top 170px
@media all and (max-width 528px)
	.bottom_line
		.insert_mnu
			height 260px
			
@media all and (max-width 523px)
	.couple_photo
		h3
			font-size 30px
			margin-top 20px
			letter-spacing 1px
	.loveis
		.stories_list
			padding 10px
			.storie
				width 50%
				display block
				margin 30px auto
	.b2
		left 52%
		padding 10px
	.sl4
		span:nth-child(1)
			left 264px
			top: 198px
			font-size 14px
		span:nth-child(2)
			left 5%
			top 281px
			font-size 18px
		span:nth-child(3)
			left 5%
			top 241px
			font-size 30px
	.photo .galery
		border none
	.wedding_dance_award .li_pages
		margin-left 25%
	.wedding_dance_award_2015 .purp_but
		display block
		margin 20px auto
		width 50%
		text-align center
	#video_slide
		width 90%
		iframe
			width 350px
			height 200px
	.portfolio_video
		iframe
			height 230px
	#adv_list
		.advantage
			img
				width 80%
	.statistic
		h2
			font-size 22px
			padding: 7px 5px
			width 90%
@media all and (max-width 490px)
	.video_style_dance
		.tran_grad
			display block
			margin 10px auto
			text-align:  center
	.img_divide
		height 150px
		padding-top 30px
		.on_img
			font-size 14px
	.ts_buttons
		justify-content center
	.teachers_photo
		width 85%
	.portfolio_video
		iframe
			height 220px
	.statistic
		img
			margin-left 29%
@media all and (max-width 465px)
	.address
		h3
			font-size 24px
		.li_pages
			margin-left 25%
	.dance_tit
		font-size 30px
	.but_review, .but_applic2
		margin 10px auto
		display block
		padding 5px 10px
	.loveis
		.stories_list
			padding 10px
			.storie
				width 70%
				display block
				margin 30px auto
	.sl1
		span:nth-child(1)
			left: 31px
			top: 234px
			font-size 16px
		span:nth-child(2)
			top 252px
			font-size 22px
			left 31px
		span:nth-child(3)
			top 276px
			left 31px
			font-size 16px
	.transp
		padding 5px 8px
		font-size 12px
	#news_slide
		padding 4px
	.sl2
		position relative
		span:nth-child(1)
			left 10%
			top 190px
			font-size 20px
		span:nth-child(2)
			font-size 25px
			left: 10%
			top 210px
		span:nth-child(3)
			left 10%
			top 240px
			font-size 20px
	.sl3
		span:nth-child(1)
			left: 10%
			top: 218px
			font-size 22px
			line-height 1.2
		span:nth-child(2)
			left 10%
			top 271px
			font-size 16px
		.transp
			left 2%
		.b2
			left 50%
	.sl4
		span:nth-child(1)
			left 234px
			top: 218px
			font-size 14px
		span:nth-child(2)
			left 5%
			top 281px
			font-size 18px
		span:nth-child(3)
			left 5%
			top 241px
			font-size 30px
	.faq .li_pages
		margin-left 25%
	.read h3
		width 100%
	.merried
		.li_pages
			margin-left 25%
	.wedding_dance_award .li_pages
		margin-left 20%
	.wedding_dance_award_2015 .li_pages,
	.wedding_dance_award_2016 .li_pages
		margin-left: 17%
	.wedding_dance_award_2016 h4 span
		font-size 18px
	.about iframe
		height 200px
	#video_slide
		width 95%
		padding 10px
		iframe
			width 300px
			height 180px
	.teacher_single .li_pages
		margin-left 17%
	.portfolio_video
		iframe
			height 210px
	#news_slide
		padding-top 20px
		img
			height 220px
	span.group
		top 162px
	#adv_list
		.advantage
			img
				width 90%
	.statistic
		img
			margin-left 24%
	.our_partners
		a
			float none
			display block
			margin-top 15px
			width 160px
.music_listen
	.li_pages
		margin-left 25%
@media all and (max-width 390px)
	.video_dance
		iframe
			width 300px
			min-height 150px


@media all and (max-width 375px)
	.img_divide
		padding-top 20px
		.on_img
			font-size 12px
			width 92%
	.portfolio_video
		iframe
			height 200px
	#adv_list
		.advantage
			img
				width 100%
	.statistic
		img
			margin-left 20%
@media all and (max-width 370px)
	.dance_tit
		font-size 20px
	.site_title h1
		font-size 22px
	.top_line
		display none
	.middle_line
		background-image none
		background-color purp
		color #fff
		.logo
			display none
	.dropdown
		display none
	.li_pages
		margin-left 32%
	.vacancy
		.li_pages
			margin-left 12%
	.show,.news,.merried
		.li_pages
			margin-left 16%
	.sl1
		span:nth-child(1)
			left: 31px
			top: 254px
			font-size 16px
		span:nth-child(2)
			top 272px
			font-size 18px
			left 31px
		span:nth-child(3)
			top 296px
			left 31px
			font-size 16px
	.sl2
		span:nth-child(1)
			top 220px
		span:nth-child(2)
			top 240px
		span:nth-child(3)
			top 270px
	.sl4
		span:nth-child(1)
			left 204px
			top: 238px
			font-size 12px
		span:nth-child(2)
			left 5%
			top 301px
			font-size 14px
		span:nth-child(3)
			left 5%
			top 261px
			font-size 20px
	.wedding_dance_award_2015 .li_pages, .wedding_dance_award_2016 .li_pages
		margin-left: 0
	.wedding_dance_award_2016
		iframe
			width 100%
			height 200px
	.about_payment
		.payment_details a
			left 0px
			height auto
			display block
			text-align center
	.statistic
		h2
			font-size 16px
	.menu_toggle
		top -56px
	.bottom_line
		height 2px
@media all and (max-width 377px)
	span.group
		top 170px
@media all and (max-width 337px)
	span.group
		top 200px
	.statistic
		img
			margin-left 5%
@media all and (max-width 332px)
	.portfolio_video
		iframe
			height 180px
	.contacts
		.soc_link
			li
				margin-right 0
				height 34px
				width 34px
				border-radius 17px
				a
					padding-top 5px
					i
						font-size 18px 
						text-align center
						vertical-align center
	.loveis
		.stories_list
			border none
			.storie
				width 100%
	.li_pages
		margin-left 25%
	.vacancy, .show
		.li_pages
			margin-left 5%
	.show
		.li_pages
			margin-left 15%
	.sl1
		span:nth-child(1)
			left: 31px
			top: 274px
			font-size 12px
		span:nth-child(2)
			top 292px
			font-size 14px
			left 31px
		span:nth-child(3)
			top 316px
			left 31px
			font-size 12px
		.transp
			top 365px
	.sl4
		span:nth-child(1)
			left 184px
			top: 258px
		span:nth-child(2)
			left 5%
			top 321px
			font-size 14px
		span:nth-child(3)
			left 5%
			top 291px
			font-size 20px
.music_listen
	.li_pages
		margin-left 20%
		
@media all and (max-width 295px)
	.sl2
		position relative
		span:nth-child(1)
			top 270px
			font-size 16px
		span:nth-child(2)
			top 290px
			font-size 16px
		span:nth-child(3)
			top 310px
			font-size 16px
	.sl3
		span:nth-child(1)
			left: 10%
			top: 248px
			font-size 22px
			line-height 1.2
		span:nth-child(2)
			left 10%
			top 301px
			font-size 16px
	.sl4
		span:nth-child(1)
			left 10px
			top: 278px