main=#c31eb4
purp=#93278f
text=#3c3c3c
greyt=#6b6b6b
greyt2=#63605b
blt=#222222
greyl=#DEDDDD


mFont="Arial","Helvetica Neue","Helvetica",sans-serif
Gen="Geneva","Verdana","Lucida Sans","Lucida Sans Unicode",sans-serif
Tre="Trebuchet","Trebuchet MS","Tahoma","Arial",sans-serif
Ver="Verdana","Tahoma","Geneva",sans-serif
Geo="Georgia","Palatino","Palatino Linotype","Times","Times New Roman",serif