footer
	.container
		.row
			.col-lg-4.col-md-4.col-sm-4.col-xs-12
				img.logo(src="static/img/logo1.png", alt="logo")
				h6 Свадебный проект "Ты со мной"
				p Все для молодоженов на одном сайте. Все музыкальные и  видео материалы представлены на сайте исключительно в качестве ознакомления. Скачать можно только со сторонних источников.
				p 8 800 700 35 68 Единый номер по России
				span Copyright OOO "Sway" 2009 - 2017
			.col-lg-4.col-md-4.col-sm-4.col-xs-12
				ul.fastlink Быстрые ссылки
					li
						a(href="#") Видео
					li
						a(href="#") Музыка
					li
						a(href="#") Фото
					li
						a(href="#") Статьи
					li
						a(href="#") Адреса
			.col-lg-4.col-md-4.col-sm-4.col-xs-12
				ul.contlink Контактная информация
					li
						a(href="#") Москва,ул.Гончарная 38
					li
						a(href="#") 8 800 700 35 68
					li
						a(href="#") tisomnoy@mail.ru
					li
						a(href="#") www.tisomnoy.ru
				a.sitemap(href="#") Карта сайта
				.soc_wrap
					ul.soc_link
						li
							a(href="#")
								img(src="static/img/soc1.png", alt="vk")
						li
							a(href="#")
								img(src="static/img/soc2.png", alt="fb")
						li
							a(href="#")
								img(src="static/img/soc3.png", alt="inst")
						li
							a(href="#")
								img(src="static/img/soc4.png", alt="youtube")
						li
							a(href="#")
								img(src="static/img/soc5.png", alt="telegram")

