header
	.top_line
		img(src="static/img/comp.png" alt="comp")
		ul.our_links
			li
				a(href="#") Магазин
			li
				a(href="#") Свадебное агенство
			li
				a(href="#") Свадебный танец
	.middle_line
		img.logo(src="static/img/logo2.png", alt="logo")
		.phone
			span.phone_num 8 (800) 700-35-68
			span.phone_num 8 (495) 740-35-68
			span.free Звонок бесплатный
			.dropdown
				span  Ваш город:
				.dropbtn Москва
				.dropdown-content
					a(href="#") Санкт-Петербург
					a(href="#") Нижний Новгород
					a(href="#") Казань
					a(href="#") Тула
	.bottom_line
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					include ../modules/menu
