.menu_toggle
	img(src="static/img/bottom.png", alt="alt")
nav.top_mnu
	ul
		li
			a(href="#") Главная
		li
			a(href="#") Педагоги
		li
			a(href="#") Музыка
		li
			a(href="#") Видео
		li
			a(href="#") Услуги и цены
		li
			a.show_insmnu(href="#") Студия
			ul.insert_mnu
				li
					a О студии свадебного танца 
				li
					a Wedding Dance Award
				li
					a Фотографии наших молодожёнов
				li
					a Молодоженам на заметку
				li
					a Статьи
				li
					a FAQ
				li
					a Новости
				li
					a Love is
				li
					a Выставка
				li
					a Вакансии
		li
			a(href="#") Отзывы
		li
			a(href="#") Адреса
		li
			a(href="#") Контакты
